{%  if(type[key]["config"]["multivalued"])and data[key] is iterable %}
	{% for item in data[key] %}
	{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
		<ul>
        {% for option in item %}
            {% for dataelement in type[key]["store"]["data"] %}
                {% if dataelement['valeur']==option %}
                    <li>{{ dataelement['nom'] }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
	{% endfor %}
{% else %}
{% include "/blocks/edition/edition-tooltip-button.html.twig" %}
    <ul>
    {% for option in data[key] %}
            {% for dataelement in type[key]["config"]["store"]["data"] %}
                {% if dataelement['valeur']==option %}
                    <li>{{ dataelement['nom'] }}</li>
                {% endif %}
            {% endfor %}
    {% endfor %}
    </ul>
{% endif %}