<div id="list-{{ prefix }}-{{ page.currentPage }}" class="active">
	{% for content in data %}
		{% if loop.first or (loop.index-1)%columnNb == 0 %}
    		<div class="row-fluid">
    	{% endif %}
    	    <div class="span{{ (12/columnNb) }}">
    		    {% include content.type  %}
    		</div>
    	{% if loop.last or loop.index%columnNb == 0 %}
    		</div>
		{% endif %}
	{% endfor %}
</div>