{% extends "root/block.html.twig" %} {% block mainContent %}

<div class="bloc-container">
<div class="bloc-title">{{data.text}}</div>
<div class="bloc-content">{{data.Nouveau_champ_zone_de_texte1 | cleanHtml}}</div>
</div>
{% endblock %}
