##########
# Global #
##########
*~
.DS_Store
Thumbs.db

#######
# IDE #
#######
.project
.settings
/.idea
/atlassian-ide-plugin.xml

##########
# Rubedo #
##########
extensions/*
!extensions/readme.txt

cache
library/Zend
.zfproject.xml

build
.buildpath

/public/theme
/public/generate-image

/vendor
# Composer
/composer.phar
/composer*.lock
/composer.extensions.json
