*~
library/Zend
build
.DS_Store
cache
.project
.settings
.zfproject.xml
.buildpath
/vendor
/composer.lock
composer.front.lock
/public/theme
/public/generate-image
Thumbs.db
extensions/*
!extensions/readme.txt
/composer.extension.*
.idea*
