*~
library/Zend
application/rubedo-backoffice-ui
application/modules/zimmer
build
.DS_Store
library/Phactory
cache
library/HTMLPurifier
.project
.settings
.zfproject.xml
.buildpath
/vendor
/composer.lock
composer.front.lock
public/templates/fps-tower-theme
public/templates/citroen
Thumbs.db
extensions/*
!extensions/readme.txt
/composer.extension.*
