<div class=" {{ classHtml }}"  {% if idHtml %} id="{{ idHtml }}"
	{% endif %}>
	{% block mainContent %}
	<div class="block" id="{{ id }}"
		style='border-style: dotted; padding: 20 px; margin: 20 px;'>
		Something wrong happened !

		</div>
	{% endblock %}
</div>