<div class="{% if span > 0 %}span{{span}}{% endif %}{% if offset > 0 %} offset{{offset}}{% endif %} {{ classHtml }}"
 {% if idHtml %}id="{{ idHtml }}"{% endif %}>
	<!-- process nested rows & blocks -->
	{% if blocks %}
		{% for block in blocks %}
			{% include [block.template,'root/block.html.twig'] with block.data only %}
		{% endfor %}
	{% endif %}
	{% if rows %}
		{% for row in rows %}
				{% include row.template with row only %}
		{% endfor %}
	{% endif %}
</div>