<div class="row {{ classHtml }}" {% if idHtml %}id="{{ idHtml }}"{% endif %}>
	<!-- process columns -->
	{% if columns %}
		{% for column in columns %}
			{% include column.template with column only %}
		{% endfor %}
	{% endif %}
</div>