<p>Hello {{ name }},</p>

<p>
In order to complete you account creation please activate it by clicking on the following link :<br />
<a href="{{ confirmUrl|raw }}">Confirm your email address</a>
</p>
<p>
Regards
</p>

<hr />
This is an automated email.
<hr />