{% extends "@Root/block.html.twig" %}

{% block mainContent %}
<div class="row-fluid">
	<div class="span12">
	<div class="alert alert-info">
	   <button type="button" class="close" data-dismiss="alert">&times;</button>
	   <strong>Email confirmation required.</strong> A confirmation email has been sent to the adress you provdided.
	</div>
	</div>
</div>
{% endblock %}