.sidebar-nav {
	padding: 9px 0;
}

.highlight{
	background-color:#E3E84D;
}
.rubedo-modal
{
	max-width:90%;
	max-height:90%;
	width:auto;
}

.modal-body
{
	max-height:90%;
}
.rubedo-close
{
	font-size:2em;
	border-bottom:solid;
	border-radius:10px;
}

.mapPlaceholder img {
    max-width: none;
}

label{
	display:inline-block;
}
.rubedo-form .control-label {
float: left;
width:auto;
text-align:left;
padding-top: 5px;
}
.rubedo-form .table-condensed td{
	border:none !important;
}
.rubedo-form .table-condensed tr{
	border-top:1px solid #ddd !important;
}
.rubedo-form .controls{
	clear:both;
	margin-left:0px !important;
}
.rubedo-form-container{
	border:2px solid #ddd;
	padding:10px 20px 5px 20px;
	border-radius:5px;
}

.align-button {
	text-align: center;
}