.sidebar-nav {
	padding: 9px 0;
}

.highlight{
	background-color:#E3E84D;
}
/**
 * Rating field
 */
.empty-star {
  background: url('../img/empty-star.png');
	width:15px;
	height:15px;
	display:inline-block;
}
.full-star {
  background-image: url('../img/full-star.png');
	width:15px;
	height:15px;
	display:inline-block;
}
.half-star {
  background-image: url('../img/half-star.png');
	width:15px;
	height:15px;
	display:inline-block;
}

/**
 * Rubedo Modal
 */
.modal-backdrop, .modal-backdrop.fade.in{
	opacity: .3;
}
.rubedo-modal .rubedo-body img{
	max-height:90%;
}
.rubedo-modal
{
	max-width:90%;
	max-height:90%;
	height:auto;
	width:auto;
	border:3px solid;
	border-color: rgba(0, 0, 0, 0.2);
}
.modal-body
{
	max-height:90%;
}
/**
 * Gallery
 */
.gallery-control
{
font-size:60px;
font-weight: 100;
text-align: center;
border: 3px solid #fff;
opacity: .5;
margin-top:1px;
}
.gallery-control-wrap{
	border:solid red;
	width:50px;
	height:50px;
}
/**
 * Map
 */
.mapPlaceholder img {
    max-width: none;
}

/**
 * Rubedo Form
 */
label{
	display:inline-block;
}
.rubedo-form .control-label {
float: left;
width:auto !important;
text-align:left;
padding-top: 5px;
}
.rubedo-form .table-condensed td{
	border:none !important;
}
.rubedo-form .table-condensed tr{
	border-top:1px solid #ddd !important;
}
.rubedo-form .controls{
	clear:both;
	margin-left:0px !important;
}
.rubedo-form-container{
	border:2px solid #ddd;
	padding:10px 20px 5px 20px;
	border-radius:5px;
}

.align-button {
	text-align: center;
}
.no-hero{
  padding: 60px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

#btn-save {
	margin-left: 10px;
}

@media screen and (max-width: 640px) {
  .rubedo-form .controls input {
		width:100%;
  }
 .rubedo-form .controls textarea {
		width:100%;
  }
  .active-items .pagination ul{
	margin-left:auto !impotant;
  }

}
@media screen and (max-width: 700px) {

  .active-items .pagination ul{
	margin-left:auto !impotant;
  }

}
@media screen and (max-width: 440px) {
  .rubedo-form .controls input {
		width:100%;
  }
  .rubedo-form .btn{
	float:none !important;
  	margin-top:5px;
  	width:100%;
  }
  .rubedo-form a{
	padding:5px 0px 5px 0px;
  }
    .active-items .pagination ul{
	margin-left:auto !important;
  }
  
}

[id^='calendar-'] table tbody tr td span {
	padding: 2px 4px;
}

[id^='calendar-'] table {
	margin-left: auto;
	margin-right: auto;
}