.sidebar-nav {
	padding: 9px 0;
}

.highlight{
	background-color:#E3E84D;
}
.rubedo-modal
{
	max-width:90%;
	max-height:90%;
	width:auto;
}

.modal-body
{
	max-height:90%;
}
.rubedo-close
{
	font-size:2em;
	border-bottom:solid;
	border-radius:10px;
}

