<table class="table table-condensed table-striped table-hover">
    <tr>
        <td><a href="#">Product title</a></td>
        <td>x 1</td>
        <td>100€</td>
        <td><a href="#"><i class="icon-remove"></i></a></td>
    </tr>
    <tr>
        <td><a href="#">Product2 title</a></td>
        <td>x 2</td>
        <td>80€</td>
        <td><a href="#"><i class="icon-remove"></i></a></td>
    </tr>
</table>
<dl class="dl-horizontal">
    <dt>Total :</dt>
    <dd> 180 € </dd>
</dl>