<table class="table table-condensed table-striped table-hover">
    {% for item in cartItems %}
    <tr>
        <td><a href="#">{{ item.title }}</a></td>
        <td>x {{ item.amount }}</td>
        <td>{{ item.price }} €</td>
        <td><a href="#"><i class="icon-remove"></i></a></td>
    </tr>
    {% endfor %}
</table>
<dl class="dl-horizontal">
    <dt>Total :</dt>
    <dd> {{ totalAmount }} €</dd>
</dl>