
{% extends "root/block.html.twig" %}

{% block mainContent %}

    <div class="block headline">
        <h2 class="editable" id="{{ data.id }}_text" data-field-type="title">{{ data.text }}</h2>
    
        {% if data.date %}
            {% include "/root/blocks/fields/date.html.twig" with { "key" : "date" } %}
        {% endif %}
        <div class="clear-both"></div>
        <br/>
        
        <div class="row-fluid">
            {% if data.image %}
                <div class="span3">
                    {% include "/root/blocks/fields/imageField.html.twig" with { "key" : "image" } %}
                </div>
            {% endif %}
    
            {% if data.image %}
                <div class="span9">
            {% else %}
                <div class="span12">
            {% endif %}
                {% include "/root/blocks/fields/CKEfield.html.twig" with { "key" : "body" } %}
            </div>
        </div>
    </div>
    {% if activateDisqus and disqusKey %}
        {{ include('root/blocks/disqus/disqus.html.twig') }}
    {% endif %}
    
{% endblock %}

