{% extends "root/block.html.twig" %}

{% block mainContent %} 
	<div class="block headline">
	<button class='btn complete-edition-btn' contentId='{{ data.id }}'><i class="icon-pencil"></i></button>
	<h1 class="editable" id="{{ data.id }}_text" data-field-type="title">{{ data.text }}</h1>
	 {% for key, value in data %}
	        {% if value is not null %}
      		{%for cKey,cValue in type %}
      			{%if(key==cKey)%}
      					{%if cValue["cType"]=="ImagePickerField"%}
      					    {% if value != "" %}
      					        {% include 'root/blocks/fields/imageField.html.twig' %}
      					    {% endif %}
      					{%elseif(cValue["cType"]=="CKEField")%}
      						{% include 'root/blocks/fields/CKEfield.html.twig' %}
      					{%elseif(cValue["cType"]=="ratingField")%}
      						{% include 'root/blocks/fields/rating.html.twig' %}
      					{%elseif(cValue["cType"]=="textareafield")%}
      						{% include 'root/blocks/fields/textarea.html.twig' %}
      					{%elseif(cValue["cType"]=="textfield")%}
      						{% include 'root/blocks/fields/text.html.twig' %}
      					{%elseif(cValue["cType"]=="slider")%}
      						{% include 'root/blocks/fields/slider.html.twig' %}
						{%elseif(cValue["cType"]=="treepicker")%}
							{% include 'root/blocks/fields/link-to-page.html.twig' %}
						{%elseif(cValue["cType"]=="localiserField")%}
							{% include 'root/blocks/fields/localiser.html.twig' %}
      					{%elseif(cValue["cType"]=="datefield")%}
							    {% include 'root/blocks/fields/date.html.twig' %}
						{%elseif(cValue["cType"]=="timefield")%}
							{% include 'root/blocks/fields/time.html.twig' %}
						{%elseif(cValue["cType"]=="numberfield")%}
							{% include 'root/blocks/fields/number.html.twig' %}
						{%elseif(cValue["cType"]=="externalMediaField")%}
							{% include 'root/blocks/fields/external-media.html.twig' %}
						{%elseif(cValue["cType"]=="checkboxfield")%}
							{% include 'root/blocks/fields/checkbox.html.twig' %}
						{%elseif(cValue["cType"]=="checkboxgroup")%}
							{% include 'root/blocks/fields/checkboxgroup.html.twig' %}
						{%elseif(cValue["cType"]=="radiogroup")%}
							{% include 'root/blocks/fields/radiogroup.html.twig' %}
						{%elseif(cValue["cType"]=="DCEField")%}
							{% include 'root/blocks/fields/dcefield.html.twig' %}
      					{%endif%}
      					
      			{%endif%}
      		{%endfor%}
      		{%endif%}
    {% endfor %}
</div>
{% if activateDisqus and disqusKey %}
{{ include('root/blocks/disqus/disqus.html.twig') }}
{% endif %}
{% endblock %}
