{% extends "root/block.html.twig" %}

{% block mainContent %} 

	<div class="block headline">
	<h1 class="editable" id="{{ data.id }}_text">{{ data.text |cleanHtml }}</h1>
	 {% for key, value in data %}
	        {% if value %}
      		{%for cKey,cValue in type %}
      			{%if(key==cKey)%}
      					{%if cValue=="ImagePickerField"%}
      					   {% include 'root/blocks/fields/imageField.html.twig' %}
      					{%elseif(cValue=="CKEField")%}
      						{% include 'root/blocks/fields/CKEfield.html.twig' %}
      					{%elseif(cValue=="ratingField")%}
      						{% include 'root/blocks/fields/rating.html.twig' %}
      					{%elseif(cValue=="textareafield")%}
      						{% include 'root/blocks/fields/textarea.html.twig' %}
      					{%elseif(cValue=="textfield")%}
      						{% include 'root/blocks/fields/text.html.twig' %}
      					{%elseif(cValue=="slider")%}
      						{% include 'root/blocks/fields/slider.html.twig' %}
						{%elseif(cValue=="treepicker")%}
						{% if value %}
							{% include 'root/blocks/fields/link-to-page.html.twig' %}
						{% endif %}
						{%elseif(cValue=="localiserField")%}
							{% include 'root/blocks/fields/localiser.html.twig' %}
      					{%elseif(cValue=="datefield")%}
							{% include 'root/blocks/fields/date.html.twig' %}
      					{%endif%}
      					
      			{%endif%}
      		{%endfor%}
      		{%endif%}
    {% endfor %}
</div>
{% endblock %}
