<ul>
    {% for page in pages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% if page.pages is defined %}
            {% include "root/blocks/tree/pages.html.twig" with {"pages" : page.pages} only %}
        {% endif %}
    {% endfor %}
</ul>