####################################################################
#  Activate URL Rewriting
####################################################################
RewriteEngine On

####################################################################
#  /!\ activate to forbid access to the install tool /!\
####################################################################
#RewriteRule install$ - [F,L]
#RewriteRule install/ - [F,L]

RewriteCond %{REMOTE_ADDR} !^127.0.0.1 
RewriteCond %{REMOTE_ADDR} !^::1
RewriteRule ^queue$ - [F,L]

####################################################################
#  Every request to dam.mp4/dam.ogg/dam.flv are dealt by Rubedo
####################################################################
RewriteRule ^dam\.(.*)$ /index.php [L]

####################################################################
#  Existing document are directly served
####################################################################
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]

####################################################################
#  / is sent to the application
####################################################################
RewriteRule ^/$ /index.php [L]

####################################################################
#  Backoffice alias
####################################################################
RewriteRule ^backoffice$ /backoffice/ [L,R=301]
RewriteRule ^backoffice(/)?$ /index.php [L]
RewriteRule ^backoffice/(.*)  /components/webtales/rubedo-backoffice-ui/www/$1 [L]

####################################################################
#  non image, js or css requests are sent to Rubedo
####################################################################
RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ /index.php [L]

####################################################################
#  Data compression
####################################################################
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json
</IfModule>

####################################################################
#  Data expire conditions
####################################################################
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/x-icon "access plus 7 days"
  ExpiresByType image/jpeg "access plus 7 days"
  ExpiresByType image/png "access plus 7 days"
  ExpiresByType image/gif "access plus 7 days"
  ExpiresByType application/x-shockwave-flash "access plus 7 days"
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType text/javascript "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
  ExpiresByType application/x-javascript "access plus 7 days"
</ifModule>

####################################################################
#  Header vary
####################################################################
  <ifModule mod_headers.c>
  	Header set Vary "Vary: Cookie"
  	Header add Vary "Accept-Encoding"
  </ifModule>



