####################################################################
#  Activate URL Rewriting
####################################################################
RewriteEngine On

####################################################################
#  Prerender
####################################################################
# Uncomment these lines to enable prerender (SEO)

#<IfModule mod_headers.c>
#    RequestHeader set X-Prerender-Token "m9j0H6SPIrXLMN09BeOY"
#</IfModule>

#<IfModule mod_rewrite.c>
#    <IfModule mod_proxy_http.c>
#        RewriteCond %{HTTP_USER_AGENT} Googlebot|bingbot|Googlebot-Mobile|Baiduspider|Yahoo|YahooSeeker|DoCoMo|Twitterbot|TweetmemeBot|Twikle|Netseer|Daumoa|SeznamBot|Ezooms|MSNBot|Exabot|MJ12bot|sogou\sspider|YandexBot|bitlybot|ia_archiver|proximic|spbot|ChangeDetection|NaverBot|MetaJobBot|magpie-crawler|Genieo\sWeb\sfilter|Qualidator.com\sBot|Woko|Vagabondo|360Spider|ExB\sLanguage\sCrawler|AddThis.com|aiHitBot|Spinn3r|BingPreview|GrapeshotCrawler|CareerBot|ZumBot|ShopWiki|bixocrawler|uMBot|sistrix|linkdexbot|AhrefsBot|archive.org_bot|SeoCheckBot|TurnitinBot|VoilaBot|SearchmetricsBot|Butterfly|Yahoo!|Plukkie|yacybot|trendictionbot|UASlinkChecker|Blekkobot|Wotbox|YioopBot|meanpathbot|TinEye|LuminateBot|FyberSpider|Infohelfer|linkdex.com|Curious\sGeorge|Fetch-Guess|ichiro|MojeekBot|SBSearch|WebThumbnail|socialbm_bot|SemrushBot|Vedma|alexa\ssite\saudit|SEOkicks-Robot|Browsershots|BLEXBot|woriobot|AMZNKAssocBot|Speedy|oBot|HostTracker|OpenWebSpider|WBSearchBot|FacebookExternalHit [NC,OR]
#        RewriteCond %{QUERY_STRING} _escaped_fragment_
        
        # Only proxy the request to Prerender if it's a request for HTML
#        RewriteRule ^(?!.*?(dam|image|\.js|\.css|\.xml|\.less|\.png|\.jpg|\.jpeg|\.gif|\.pdf|\.doc|\.txt|\.ico|\.rss|\.zip|\.mp3|\.rar|\.exe|\.wmv|\.doc|\.avi|\.ppt|\.mpg|\.mpeg|\.tif|\.wav|\.mov|\.psd|\.ai|\.xls|\.mp4|\.m4a|\.swf|\.dat|\.dmg|\.iso|\.flv|\.m4v|\.torrent|\.ttf|\.svg|\.woff|\.php))(.*) http://service.prerender.io/http://lebondeal.v3.rubedo-project.org/$2 [P,L]
#    </IfModule>
#</IfModule>

####################################################################
#  /!\ activate to forbid access to the install tool /!\
####################################################################
RewriteRule install$ - [F,L]
RewriteRule install/ - [F,L]

RewriteCond %{REMOTE_ADDR} !^127.0.0.1
RewriteCond %{REMOTE_ADDR} !^::1
RewriteRule ^queue$ - [F,L]

####################################################################
#  Every request to dam.mp4/dam.ogg/dam.flv are dealt by Rubedo
####################################################################
RewriteRule ^dam\.(.*)$ /dam [R,L,QSA]

####################################################################
#  Existing document are directly served
####################################################################
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},NC,L]

####################################################################
#  / is sent to the application
####################################################################
RewriteRule ^/$ /index.php [L]

####################################################################
#  Backoffice alias
####################################################################
RewriteRule ^backoffice$ /backoffice/ [L,R=301]
RewriteRule ^backoffice(/)?$ /index.php [L]
RewriteRule ^backoffice/app/appextensions/.* /index.php [L]
RewriteRule ^backoffice/(.*)  /components/webtales/rubedo-backoffice-ui/www/$1 [L]

####################################################################
#  non image, js or css requests are sent to Rubedo
####################################################################
RewriteRule ^theme/.* /index.php [L]
RewriteRule ^extension-path/.* /index.php [L]
RewriteRule ^generate-image/.* /index.php [L]
RewriteRule ^access-dam/.* /index.php [L]
RewriteRule ^user-avatar/.* /index.php [L]
RewriteRule ^zf-apigility.* /index.php [L]
RewriteRule !\.(js|ico|txt|gif|jpg|png|css)$ /index.php [L]

####################################################################
#  Data compression
####################################################################
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/css text/x-component application/x-javascript application/javascript text/javascript text/x-js text/html text/richtext image/svg+xml text/plain text/xsd text/xsl text/xml image/x-icon application/json
</IfModule>

####################################################################
#  Data expire conditions
####################################################################
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/x-icon "access plus 7 days"
  ExpiresByType image/jpeg "access plus 7 days"
  ExpiresByType image/png "access plus 7 days"
  ExpiresByType image/gif "access plus 7 days"
  ExpiresByType application/x-shockwave-flash "access plus 7 days"
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType text/javascript "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
  ExpiresByType application/x-javascript "access plus 7 days"
</ifModule>

####################################################################
#  Header vary
####################################################################
  <ifModule mod_headers.c>
  	Header set Vary "Vary: Cookie"
  	Header add Vary "Accept-Encoding"
  </ifModule>

FileETag MTime
