<div id={{ idHtml }}>
	<div style="margin-top:70px; margin-left:80px; width:700px; font-weight: bold;">
		<table>
			<tr>
				<td>8h00 - 8h45</td>
				<td>Enregistrement &amp; café d'accueil.</td>
			</tr>
			<tr>
				<td>8h45 - 9h00</td>
				<td>Mot de bienvenue par M.Lionel DESCOQS et présentation de la journée par les
				<br/>
				Présidents Scientifiques, Pr Denis BOURGEOIS et Dr Michel JABBOUR.</td>
			</tr>
			<tr>
				<td>9h00 - 9h35</td>
				<td><span style="color:#008bcb;" onclick='jQuery("#testB").slideDownOnly("slow")'>Dr Jean-Frédéric ANDRE:</span>
				<br/>
				&laquo;Utilisation de la sédation consciente pour la chirurgie.&raquo;</td>
			</tr>
		</table>
		<div class="info" id="testB" style="color:#008bcb; font-weight:normal; font-style:italic; margin-left:10; line-height:1em;display:none;">
		<table>
		<tr>
		<td><img src="/dam?media-id={{data[0].image}}&width=82&height=105"/></td><td>{{data[0].bio |cleanHtml}}</td>
		</tr>
		</table>
			
		</div>
		<table>
			<tr>
				<td>9h35 - 10h20</td>
				<td><span style="color:#008bcb;" onclick='jQuery("#testA").slideDownOnly("slow")'>Dr Alessandro AGINI:</span>
				<br/>
				&laquo; Les nouvelles technologies CFAO au service des patients:
				<br/>
				de la caméra intra-orale à la systématisation de la solution numérique.&raquo; </td>
			</tr>
			<tr>
				<td>10h20 - 10h40</td>
				<td>Pause.</td>
			</tr>
			<tr>
				<td>10h40 - 11h00</td>
				<td><span style="color:#008bcb;">Dr Michel JABBOUR:</span>
				<br/>
				&laquo; Présentation du film de la réouverture du cas de reconstruction maxiliaire, présenté le 24 mai 2012, et de l'étude clinique à 2 ans sur le Puros &copy;. &raquo;</td>
			</tr>
			<tr>
				<td>11h00 - 11h35</td>
				<td><span style="color:#008bcb;">Dr Franck CANGEMI:</span>
				<br/>
				&laquo; Les mini-implants, la solution pour la patient âgé ? &raquo; </td>
			</tr>
			<tr>
				<td>11h35 - 12h20</td>
				<td><span style="color:#008bcb;">Dr Jérôme SURMENIAN:</span>
				<br/>
				&laquo; Le matériau Trabecular Metal en implantologie dentaire :
				<br/>
				pour quels types de patients ? &raquo; </td>
			</tr>
			<tr>
				<td>12h20 - 13h30</td>
				<td>Déjeuner cocktail</td>
			</tr>
			<tr>
				<td>13h30 - 15h00</td>
				<td><span style="color:#008bcb;">Dr Dennis TARNOW:</span>
				<br/>
				&laquo; Extraction - implantation immédiate ou différée ?
				<br/>
				L'étât de l'art. &raquo; </td>
			</tr>
			<tr>
				<td>15h00 - 15h20</td>
				<td>Pause.</td>
			</tr>
			<tr>
				<td>15h20 - 17h30</td>
				<td><span style="color:#008bcb;">Dr Dennis TARNOW:</span>
				<br/>
				&laquo; Les Péri-implantites : ce que nous savons, ce que nous pensons savoir,
				<br/>
				et ce que nous ne savons pas. &raquo; </td>
			</tr>
			<tr>
				<td>17h30 - 17h50</td>
				<td>Questions au Dr Dennis TARNOW</td>
			</tr>
			<tr>
				<td>17h50 - 18h00</td>
				<td>Clôture de la ZID par le Comité Scientifique et M. Descoqs.</td>
			</tr>
		</table>
	</div>
	<div style="float:right; margin-right:325px; font-size:1em; font-weight:normal; font-style:italic; color:#008bcb;">
		Traduction simultanée des conférences
		<br/>
		par le Docteur Marie-Pascale HIPPOLYTE
	</div>
</div>