{% if type[key]['config']['fieldLabel'] or  type[key]['config']['tooltip'] %}
<button class="btn btn-mini pull-right field-tip-btn" style="display:none;" title="{{ type[key]['config']['fieldLabel'] }}" data-content="{{ type[key]['config']['tooltip'] }}"><i class="icon-info-sign"></i></button>
<div class="clearfix"></div>
{% endif %}