<!-- Vos services -->
<div class="row">
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Annuaire'>Annuaire</a></h2>
		</header>
		<div>
			<img src="/assets/annuaire.jpg" alt="" />
		</div>
		<p>
			Rechercher les établissements  dans l’annuaire 
		</p>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Annuaire'>Documents</a></h2>
		</header>
		<div>
			<img src="/assets/services_internet.jpg"  alt="" />
		</div>
		<p>
			Livre blanc, comptes annuels, rapport d’activité
		</p>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title="Webzine">Webzine</a></h2>
		</header>
		<div>
			<img src="/assets/accueil-kiosque-journaux.jpg"  alt="" />
		</div>
		<p>
			Janvier 2013, numéro 155
		</p>
	</div>
</div>