<!-- Vos services -->
<div class="row">
	<div class="span12 widget-title">
		<h3>Vos services</h3><span class="stripe-dots"></span>
	</div>
</div>
<div class="row">
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Annuaire'>Annuaire</a></h2>
		</header>
		<div>
			<img src="/assets/annuaire.jpg" alt="" />
		</div>
		<p>
			Rechercher les établissements  dans l’annuaire 
		</p>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Annuaire'>Documents</a></h2>
		</header>
		<div>
			<img src="/assets/services_internet.jpg"  alt="" />
		</div>
		<p>
			Livre blanc, comptes annuels, rapport d’activité
		</p>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title="Reflet d'Igny">Webzine</a></h2>
		</header>
		<div>
			<img src="/assets/reflets.jpg"  alt="" />
		</div>
		<p>
			Janvier 2013, numéro 155
		</p>
	</div>
</div>

<!-- Nouveautés -->
<div class="row">
	<div class="span12 widget-title">
		<h3>Nouveautés</h3><span class="stripe-dots"></span>
	</div>
</div>
<div class="row">
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Blog'>News du blog</a></h2>
		</header>
		<div>
			<img src="/assets/associations.jpg"  alt="" />
		</div>
		<p>
			Les derniers messages des blogs
		</p>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					5 novembre 2012  | <a href="#" title="">8 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					23 octobre 2012  | <a href="#" title="">2 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					5 octobre 2012  | <a href="#" title="">1 commentaire</a>
				</div>

			</div>
		</div>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Mobilité'>Mobilité</a></h2>
		</header>
		<div>
			<img src="/assets/quartier.jpg"  alt="" />
		</div>
		<p>
			L’application pour smartphone est disponible, vous pouvez la télécharger depuis le market
		</p>
	</div>

	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Focus'>Focus sur</a></h2>
		</header>
		<div>
			<img src="/assets/mairie_informe.jpg"  alt="" />
		</div>
		<p>
			Soirée événement pour l’inauguration du club des entreprises centenaires 
			Le 18 décembre 2012.
			Organisée en partenariat avec la CCI de la région, l’événement à pour objectif d’être renouvelé chaque année
		</p>
	</div>
</div>
<!-- En direct -->
<div class="row">
	<div class="span12 widget-title">
		<h3>En direct</h3><span class="stripe-dots"></span>
	</div>
</div>
<div class="row">
	<div class="span8">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Blog'>Les images en direct sur Flickr</a></h2>
		</header>
		<div>
			<img src="/assets/associations.jpg"  alt="" />
		</div>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Vidéos'>Les dernières vidéos</a></h2>
		</header>
		<div>
			<iframe src="http://player.vimeo.com/video/1084537?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="400" height="300" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
</div>