<!DOCTYPE html>
<html lang="fr">
<head>
{% block pageTitle %}
<title>Journees Zimmer Dental</title> {% endblock %} {% block pageMeta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Ceci est une description">
<meta name="author" content="WebTales">
{% endblock %} {% block pageStyle %}
<!-- Styles -->
<link rel="stylesheet" href="/templates/journees/css/style.css" />
<link href="/css/default.bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
{% endblock %} 
</head>
<body>
		{% block pageContentToolBar %}
			{% if isLoggedIn %}
			<div class="navbar hide" id="contentToolBar">
				<div class="navbar-inner">
					<div class="container-fluid">
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
						<a class="brand" href="#">Administration</a>
						<div id='viewmode'>
							<div class="btn-group pull-left">
								<a class="btn" href="#" id="btn-edit"> <i class="icon-edit"></i> Editer la page </a>
							</div>
							<span class="label label-success pull-right">Consultation</span>
						</div>
						<div id='editmode' class='hide'>

							<a class="btn pull-left" href="#" id="btn-cancel"> <i class="icon-remove"></i> Annuler </a>
							<a class="btn pull-left" href="#" id="btn-save"> <i class="icon-ok"></i> Sauvegarder les modifications </a>

							<span class="label label-warning pull-right">Edition</span>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endblock %}

	{% block pageMainContent %}

			 <div class="container container-fluid">
				{% if rows %}
				{% for row in rows %}
				{% include row.template with row only %}
				{% endfor %}
				{% endif %}
			</div>
			{% endblock %}
</body>
</html>