<!DOCTYPE html>
<html lang="fr">
<head>
{% block pageTitle %}
<title>Journees Zimmer Dental</title> {% endblock %} {% block pageMeta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="ceci est une description">
<meta name="author" content="WebTales">
{% endblock %} {% block pageStyle %}
<!-- Styles -->

</head>

<body>

</body>
</html>