<div class="bloc-title">
	<span>Invité d'honneur</span>
</div>
<div id="bloc-text" style="font-size:0.9em; margin:10px 15px 10px 10px; line-height:1.3em;">
	<strong>
		Pour la première fois, Zimmer Dental reçoit <br/>le <span style="color:#008bcb"> Dr Dennis Tarnow</span>, référence mondiale en parodontologie et implantologie.<br/> Il nous proposera deux conférences :
	</strong>
</div>
	<ul class="blue-list" style="font-size:0.9em;">
		<li style="line-height:1.3em margin-bottom:5px;"><em>
			Extraction - implantation immédiate ou différée ?<br/> L'état de l'art.
		</em></li>
		<li style="width:168px; line-height:1.3em"><em>
			Les péri-implantites : <br/> ce que nous savons, ce que nous pensons savoir et ce que nous ne savons pas.<br/> A l'issue de ses conférences, Le Dr Dennis Tarnow échangera avec les participants durant 20 minutes.
		</em></li>
	</ul>


<div id="bloc-img" style="float:right; margin-top:-140px; margin-right:5px;">
	<img src="templates/journees/images/homePageBloc1.png" alt="Dr Dennis Tarnow"/>
</div>
<span class="label" style="position:relative; float:right; bottom:25px; right:95px; font-size:0.7em; color:#FFFFFF;"><a href="/accueil/invite">En savoir plus</a></span>
