<div style="width:940px;color:#FFFFFF; background-color:#e3e4e5; margin-top:20px;">
	<div style="padding-top:20px;">
		<!-- image & adress row -->
		<div class="row">
			<div class="span3" style="height:35px; background-color:#008bcb;">
				<div class="big-title" style="padding: 10px 10px 10px 10px;">
					Pour nous rejoindre
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:35px; width:30px;"></div>
			</div>
		</div>
		<div class="row" style="margin-left:20px; margin-top:10px;">
			<div class="span4" style="background-image:url('/templates/journees/images/building-image.png'); background-repeat:no-repeat; width:291px; height:212px;"></div>
			<div class="span4" style="font-size:1.3em; font-weight:bold; width:450px; height:212px; background-color:#AAAAAA; line-height: 0.8em; text-align:center;">
				<img style="margin-top:-50px; margin-bottom:20px;" src="/templates/journees/images/headerLogo.png"/>
				<p>
					Institut Pasteur :
				</p>
				<p>
					Immeuble du Centre d'Information Scientifique (CIS)
				</p>
				<p>
					28 rue du Docteur Roux - 75015 PARIS
				</p>
				<p>
					Tel. 01 45 68 80 00
				</p>
			</div>
		</div>
		<!-- Map row -->
		<div class="row" style=" margin-left:50px; margin-top:20px;">
			<div class="span2" style="margin-left:0px; background-color:#656565; width:125px; height:25px;">
				<div  class="title" style="padding: 5px 5px 5px 10px;">
					Plan d'accès
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#656565; height:25px; width:30px;"></div>
			</div>
			<div>
				<img style="border:4px solid #008bcb;" src="/templates/journees/images/plan.png" />
			</div>
			<div style="color:#000000; font-size:1.2em;  margin-top:10px; margin-left:-20px; ">
				<ul style="list-style-type:none;">
					<li>
						<span style="color:#008bcb; font-weight:bold;">Métro</span> : Volontaires (ligne 12) ou Paster (lignes 6 et 12)
					</li>
					<li>
						<span style="color:#008bcb; font-weight:bold;">Bus</span> : 95 (station Institut Pasteur), 39 et 70 (stations Volontaires - Vaugirard ou Sèvres-Lecourbe)
					</li>
					<li>
						<span style="color:#008bcb; font-weight:bold;">Parking</span> : 81 rue Falguière et 50 avenue Maine - 75015 PARIS
					</li>
				</ul>
			</div>
		</div>
		<!--Localisation Row -->
		<div class="row" style=" margin-left:50px; margin-top:20px;">
			<div class="span2" style="margin-left:0px; background-color:#656565; width:730px; height:25px;">
				<div class="title" style="padding: 5px 5px 5px 5px;">
					Localisation du Centre d'Information Scientifique (CIS) sur le campus de l'Institut Pasteur
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#656565; height:25px; width:20px;"></div>
			</div>
			<div>
				<img style="border:4px solid #008bcb;" src="/templates/journees/images/plan2.png" />
			</div>
		</div>
		<!-- Hebergement -->
		<div class="row" style="margin-top:20px;">
			<div class="span3" style="height:30px; background-color:#008bcb;">
				<div class="big-title">
					Pour votre hébergement
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:30px; width:30px;"></div>
			</div>
		</div>
		<div class="row" style=" margin-left:50px; margin-top:20px;">
			<div class="span2" style="margin-left:0px; font-size:1.3em; font-weight:bold; background-color:#656565; width:160px; height:25px;">
				<div class="light-title">
					Hotels à proximité :
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#656565; height:25px; width:20px;"></div>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<div style="color:#000000; font-size:1.1em;  margin-top:10px; margin-left:30px; ">
					<ul style="list-style-type:none; font-weight: bold;">
						<li>
							<span class="blue-text">Yllen Eiffel - </span>196 rue de Vaugirard - 75015 Paris - Tel. 01 45 67 67 67 <span class="blue-text">/150€</span>
						</li>
						<li>
							<span class="blue-text">Novotel Paris Gare Montparnasse - </span>17 rue du Contentin - 75015 Paris - Tel. 01 53 91 23 75 <span class="blue-text">/219€</span>
						</li>
						<li>
							<span class="blue-text">Holiday Inn Paris Montparnasse Pasteur - </span>10 rue Gager Babillot - 75015 Paris - Tel. 01 44 19 29 29 <span class="blue-text">/160€</span>
						</li>
						<li>
							<span class="blue-text">Carladez Cambronne - </span>3 place du Général Beuret - 75015 Paris - Tel.01 47 64 07 12 <span class="blue-text">/120€</span>
						</li>
						<li>
							<span class="blue-text">Concorde Montparnasse - </span>40 rue du Commandant Mouchotte - 75014 Paris - Tel. 01 56 54 84 26 <span class="blue-text">/210€</span>
						</li>
						<li>
							<span class="blue-text">Novotel Paris Vaugirard Montparnasse - </span>257 rue de Vaugirard - 75015 Paris - Tel. 01 40 45 10 00 <span class="blue-text">/200€</span>
						</li>
						<li>
							<span class="blue-text">Best Western Hotel Le Montparnasse - </span>37 boulevard Montparnasse - 75006 Paris - Tel. 01 45 44 85 37 <span class="blue-text">/160€</span>
						</li>
						<li>
							<span class="blue-text">Hôtel Mayet - </span>3 rue Mayet - 75006 Paris - Tel. 01 47 83 21 35 <span class="blue-text">/165€</span>
						</li>
						<li>
							<span class="blue-text">Holiday Inn Paris Gare Montparnasse - </span>79 - 81 avenue du Maine - 75014 Paris - Tel. 01 43 20 13 93 <span class="blue-text">/160€</span>
						</li>
						<li>
							<span class="blue-text">Pavillon Losserand - </span>76 rue Raymond Losserand - 75014 Paris - Tel. 01 76 42 00 81 <span class="blue-text">/150€</span>
						</li>
						<li>
							<span class="blue-text">Best Western Montcalm - </span>50 avenue Felix Faure - 75015 Paris - Tel. 01 45 54 97 27 <span class="blue-text">/130€</span>
						</li>
						<li>
							<span class="blue-text">Eiffel cambronne Best Western - </span>46 rue de la Croix Nivert - 75015 Paris - Tel. 01 56 58 56 78 <span class="blue-text">/140€</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span12" style="color:#000000; font-size:1.1em;  margin-top:10px; margin-left:80px; width:740px;">
				<p>Vous souhaitez réserver maintenant votre hébergement pour participer à la ZID 2013, 
					vous pouvez dans ce cas vous connecter sur le site Booking.com, via le lien ci-dessous, et connaître la disponibilité de l'hôtel choisi (en bénéficiant d'un meilleur tarif) :</p>
					<a href="http://fr.mappy.com/travel#d=Rue+du+Docteur+Roux,+75015,+Paris,+Ile-de-France&puid=5058_pop&px=2.311442&py=48.840908&pr=20000&phci=2013-04-03&phco=2013-04-04" target="blank">
						http://fr.mappy.com/travel#d=Rue+du+Docteur+Roux,+75015,+Paris,+Ile-de-France&puid=5058_pop&px=2.311442&py=48.840908&pr=20000&phci=2013-04-03&phco=2013-04-04
					</a>
			</div>
		</div>
<!-- Pour nous contacter -->
		<div class="row" style="margin-top:20px;">
			<div class="span3" style="height:30px; width:225px; background-color:#008bcb;">
				<div class="big-title">
					Pour nous contacter
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:30px; width:30px;"></div>
			</div>
		</div>
		<div class="row" id="contact" style="margin-top:20px; margin-left:50px; ">
			<div style="width:400px; height:100px; background-color:#AAAAAA; font-size:1.3em; text-align:center; font-weight: bold; line-height: 1em; padding-top:10px; margin-bottom:20px;">
				<p>Pour tout renseignement complémentaire,</p>
				<p>	contactez le service marketing Zimmer Dental</p>
					<p>au 01 45 12 35 35 ou par mail : </p>
				<p>	<a style="color:#ffffff; text-decoration:underline;"href="mailto:francoise.trupel@zimmer.com">francoise.trupel@zimmer.com</a></p>
			</div>
		</div>
		<!-- -->
	</div>
</div>