<div id="content-inscription" style="padding-top:50px; background-color:#e3e4e5; width:940px; height:850px;">
	<div style="width:740px; margin-left:100px; border-top:0px !important; border:1px solid #C0C0C0; height:800px;">
		<div class="row" style="margin-left:5px;">
			<div class="span3" style="height:35px; width:150px; background-color:#008bcb;">
				<div class="big-title" style="padding: 10px 10px 10px 10px;">
					Inscription :
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:35px; width:30px;"></div>
			</div>
		</div>
		<div class="row" style="margin-top:15px; margin-left:5px; padding:10px 0px 10px 0px; border-top:1px ridge; border-bottom:1px ridge;">
			<div class="span6" style="font-weight:bold;">
				INFORMATIONS PERSONNELLES
			</div>
			<span class="span1" > Fleche Bas</span>
		</div>
		<!-- eventuellement du JS pour slideDown le menu -->
		<div class="row" id="infoinscrip" style="margin-top:15px; margin-left:5px; padding:10px 0px 10px 0px; border-top:1px ridge; border-bottom:1px ridge;">
				<form>
					<label>Titre : </label>
					<select>
						<option>Monsieur</option>
						<option>Madame</option>
					</select>
					<label>Nom* :</label>
					<input type="text" />
					<label>Prenom* :</label>
					<input type="text" />
					<label>Adresse* :</label>
					<input type="text" style="width:98%;"/>
					<input type="text" style="width:98%;"/>
					<label>Code Postal* :</label>
					<input type="text" />
					<label>Ville* :</label>
					<input type="text" />
					<label>Pays* :</label>
					<input type="text" />
				</form>
		</div>
	</div>

</div>
