<div id="content-invite">
	<div class="row" style="margin-top:10px; margin-bottom:20px; margin-left:20px; ">
			<div class="span3" style="margin-left:12px;height:45px; width:350px; background-color:#008bcb;">
				<div class="title">
					Invité d'honneur : Docteur Dennis TARNOW
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:45px; width:30px;"></div>
			</div>
		</div>
	<div style="float:left; margin-left:30px;">
		<img style="border:1px solid #008bcb;" src="/templates/journees/images/homePageBloc1.png" alt="Dr Dennis Tarnow"/>
	</div>
	<div style=" width:600px;margin-left:130px;">
		<span style="font-size:1.2em; font-weight:bold; color:#008bcb;">Dr Dennis TARNOW</span>
		<div style="color:#008bcb; font-style:italic; margin-top:10px;">
			M. Dennis P. Tarnow est actuellement professeur de parodontologie clinique et
			chargé d’enseignement en implantologie au Columbia School of Dental Medicine.
			Il a été Professeur et Président du département de parodontologie et d’implantologie
			au New York University College of Dentistry. Dr Tarnow est diplômé en parodontologie
			et en prothèse et est Diplomat of the American Board of Periodontology. Il a obtenu
			le Master Clinician Award de l’Académie américaine de parodontologie, et l’award de
			l’enseignant de l’année de l’Université de New York. Dr Tarnow a un exercice privé
			à New York. Une aile du New York University College of Dentistry porte son nom.
			Il a publié plus d’une centaine d’articles sur la parodontologie et la chirurgie implantaire,
			et est coauteur de trois livres, dont un intitulé ‘Dentisterie restauratrice esthétique’.
			Dr Tarnow donne de nombreuses conférences aux Etats-Unis et dans plus de 30 pays.
		</div>
	</div>

	<div style=" background-image:url('/templates/journees/images/back.png');
	background-repeat:no-repeat; height:817px; width:763px;">
		<!-- BLOC 1er SUJET-->
		<div style="padding: 20px 20px 20px 0px; margin-left:20px; ">
			<span style="font-weight: bold;">1er sujet</span>
				<div class="row" style="margin-top:10px; margin-bottom:20px; ">
			<div class="span3" style="margin-left:12px;height:30px; width:575px; background-color:#008bcb;">
				<div class="title">
					&laquo; EXTRACTION - IMPLANTATION IMM&Eacute;DIATE OU DIFF&Eacute;R&Eacute;E ? L'&Eacute;TAT DE L'ART&raquo;
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:30px; width:30px;"></div>
			</div>
		</div>
			<div style="margin-top:10px;">
				La première conférence du Dr Tarnow abordera les thèmes suivants :
				<ul class="blue-list">
					<li >
						Quand doit-on effectuer une implantation immédiate versus implantation différée ?
					</li>
					<li>
						Combien de temps faut-il attendre dans le cas d’une implantation différée ?
					</li>
					<li>
						Comment devons-nous gérer l’alvéole post-extractionnelle lorsque la table vestibulaire est manquante ?
					</li>
					<li>
						Devons-nous combler, le cas échéant, le gap entre l’implant et la table vestibulaire ?
					</li>
					<li>
						Quel est le meilleur matériau de comblement à utiliser dans ce cas ?
					</li>
					<li>
						Quelle est la perturbation dimensionnelle au niveau de la crête après extraction, avec ou sans réalisation d’un lambeau ?
					</li>
					<li>
						Est-ce que la « plateform switching » est nécessaire, et si oui, dans quels cas ?
					</li>
					<li>
						Quel profil donner aux couronnes provisoires ?
					</li>
					<li>
						Y a-t-il une différence entre la provisoire vissée et la provisoire scellée en cas d’implantation immédiate ?
					</li>
				</ul>
			</div>
		</div>
		<!-- BLOC 2eme SUJET-->
		<div style="padding: 20px 20px 20px 0px; margin-left:20px; margin-top:20px; ">
			<span style="font-weight: bold;">2ème sujet</span>
				<div class="row" style="margin-top:10px; margin-bottom:20px; ">
			<div class="span3" style="margin-left:12px;height:50px; width:550px; background-color:#008bcb;">
				<div class="title" >
					&laquo; LES P&Eacute;RI-IMPLANTITES : CE QUE NOUS SAVONS,
				<br />
				CE QUE NOUS PENSONS SAVOIR, ET CE QUE NOUS NE SAVONS PAS.&raquo;
				</div>
			</div>
			<div class="span2" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:50px; width:30px;"></div>
			</div>
		</div>
			Avec l’augmentation du nombre d’implants posés dans le monde, de même que la diversité des états de surface, combinée à la durée de vie d’un implant, la péri-implantite est devenue plus courante dans notre pratique.
			<ul class="blue-list">
				<li>
					Peut-on obtenir une nouvelle ostéointégration après une péri-implantite ?
				</li>
				<li>
					Peut-on stopper le développement de cette infection ?
				</li>
				<li>
					Quels sont les résultats cliniques et histologiques après traitement ?
				</li>
			</ul>
			Cette conférence mettra l’accent sur les moyens actuels à notre disposition pour enrayer ce phénomène.
		</div>

	</div>
</div>
