<div style="width:740px; margin-left:120px; margin-top:20px; margin-bottom:50px;">
		<div class="row" style="margin-top:20px;">
			<div class="span11" style="height:35px; width:550px; background-color:#008bcb;">
				<div class="title">
					Si vous n'avez pas pu assister aux CHIRURGIES EN DIRECT des ZID 2012
				</div>
			</div>
			<div class="span1" style=" margin-left:-10px;">
				<div class="end" style="background-color:#008bcb; height:35px; width:30px;"></div>
			</div>
		</div>
	<div class="row">
	<div class="span12" style="font-weight: bold; font-size: 1.1em; margin-top:20px; width:740px;">
		Le jeudi 24 mai 2012, lors des Journées d'Implantologies Zimmer Dental, 3 chirurgies pré-implantaires
		<br/>
		ont été réalisées par les Drs Michel Jabbour et Philippe Khayat, et retransmises en direct à l'institut Pasteur
	</div>
	</div>
	<div class="row" style="margin-top:20px;">
<!--Bloc video-1-->
	<div class="span6" style=" width:330px !important; height:296px; background-color:#333333;">
		<div  style="margin-top:10px; margin-left:10px;">
	<script type='text/javascript' src='jwplayer.js'></script>

<div id='mediaspace'> </div>
<script type='text/javascript'>
  jwplayer('mediaspace').setup({
    'flashplayer': '/templates/journees/videos/player.swf',
    'file': '/templates/journees/videos/jabbour-court.flv',
     'image': '/templates/journees/images/video-1.png',
    'controlbar': 'bottom',
    'width': '310',
    'height': '206'
  });
</script>  
</div> 
<div style="font-weight:bold; font-size:1.1em; text-align:center; color:#FFFFFF; width:305px; height:75px; margin-top:20px; margin-left:10px;">
	Reconstruction maxillaire abec blocs  allogéniques Puros&reg; (Dr M.Jabbour)
</div>
</div>
<!--Bloc video-2-->
	<div class="span6" style=" width:330px !important; height:296px; background-color:#333333;">
		<div  style="margin-top:10px; margin-left:10px;">
			<div id='mediaspace-2'> </div>
	<script type='text/javascript' src='jwplayer.js'></script>
<script type='text/javascript'>
  jwplayer('mediaspace-2').setup({
    'flashplayer': '/templates/journees/videos/player.swf',
    'file': '/templates/journees/videos/jabbour-court.flv',
     'image': '/templates/journees/images/video-1.png',
    'controlbar': 'bottom',
    'width': '310',
    'height': '206'
  });
</script>  
</div> 
<div style="font-weight:bold; font-size:1.1em; text-align:center; color:#FFFFFF; width:305px; height:75px; margin-top:20px; margin-left:10px;">
	Soulevé de sinus bilatéral par voies crestales et latérale (Dr Ph.Khayat)
</div> 
	</div>
	</div>

	<div style="margin-top:20px; font-size:1.1em; font-weight:bold;">
		<div>Le jeudi 24 avril 2013, le Dr Jabbour présentera et commentera sa chirurgie de réouverture du cas de<br/>reconstruction maxillaire, filmée en novembre 2012.</div>
		<div style="margin-top:20px; font-size:1.1em; font-weight:bold; color:#008bcb;">Cette nouvelle vidéo pourra être consultée sur le site à l'issue de la ZID 2013.</div>
	</div>
</div>