{% extends "root/block.html" %}

{% block mainContent %}
<div class="block carousel">
	<h2 class="editable" id="{{data['id']}}_title">{{data['title']}}</h2>
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			{% for item in data['items'] %}
			<div class="item {% if loop.first %}active{% endif %}">
				<div class="editable" id="{{item.id}}_img">
					{{ item.img | raw}}
				</div>
				<div class="carousel-caption" style="margin-top: 100px;">
					<h4 class="editable" id="{{item.id}}_title">{{ item.title }}</h4>
					<p>
						&nbsp;
					</p>
					<div class="editable" id="{{item.id}}_description">
						{{ item.description | raw}}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>

{% endblock %}
