{% extends "root/block.html" %}

{% block mainContent2 %}

<div class="block headline">
	<div class="hero-unit">
		<h1 class="editable" id="507fd4feadd92aa602000000_title"></h1>
		<h2 class="editable" id="507fd4feadd92aa602000000_subtitle">Redécouvrez la gestion de contenus</h2>
		<div class="editable" id="507fd4feadd92aa602000000_paragraph">
			<p>
				<span class="label label-info">Rubedo</span> est un outils de gestion de contenus open-source construit sur les plus puissantes technologies du moment. Il s'inscrit en rupture avec ses prestigieux prédécesseurs dont le socle technique et les concepts vieillissants ne suffisent plus à adresser les enjeux du web de demain.
			</p>
		</div>
		<div class="editable" id="507fd4feadd92aa602000000_link">
			<p>
				<a class="btn btn-primary btn-large" href="#">Accéder à la démo »</a>
			</p>
		</div>
	</div>
</div>
{% endblock %}
