<style type="text/css" media="screen">
	<!--

	/* menu   */
	#screen-options {
	text-align: center;
	height: 60px;
	width: 560px;
	background: url(/img/arrow-right.png) right no-repeat;
	float: left;
	margin-left: 65px;
	}

	#screen-options li {
	text-indent:-9999px;
	display: block;
	height: 80px;
	width: 90px;
	padding: 5px;
	float: left;

	opacity: 0.4;

	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	-o-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
	}

	#screen-options li:hover {
	opacity: 1;
	}

	#screen-options li.active {
	opacity: 1;
	}

	#iphone {
	background: url(/img/device-sprite.png) top no-repeat ;
	background-position: 0 12px;
	}
	#iphone-l {
	background: url(/img/device-sprite.png) no-repeat 0 -93px;
	}
	#ipad {
	background: url(/img/device-sprite.png) no-repeat 0 -197px;
	}
	#ipad-l {
	background: url(/img/device-sprite.png) no-repeat 0 -306px;
	}
	#desktop {
	background: url(/img/device-sprite.png) no-repeat 0 -422px;

	}

	#viewport {
	/* initial width only   */
	margin: auto ;
	background-color:#CCCCCC;

	margin-top: 48px;

	/* trying different values to fix iOS issues with iFrame busting loose and wrecking the joint.   */
	overflow:hidden;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;

	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	}

	iframe {
	background-color: white;
	position:absolute;
	margin:auto;
	border:none;

	}

	/* ////// DEVICES */

	/* /// Details   */
	#device-detail {
	position: relative;
	z-index: 1000;
	text-indent:-9999px;
	display: block;
	margin: auto;

	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	-o-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
	}

	.iphone-detail {
	top: -53px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color:#CCCCCC;
	}

	.iphone-l-detail {
	top: -210px;
	left: -270px;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color:#CCCCCC;
	}

	.ipad-detail {
	top: -70px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color:#CCCCCC;
	}

	.ipad-l-detail {
	top: -512px;
	left: 555px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color:#CCCCCC;
	}

	.desktop-detail {
	border-radius: 25px;
	background:none;
	border-bottom: 100px solid #404042;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 100px;
	top: 20px;
	}

	/* /// Devices sizes   */

	/* iphone 320 x 480 */
	#viewport.iphone {
	border-top: 65px solid;
	border-right: 35px solid;
	border-bottom: 65px solid;
	border-left: 35px solid;
	border-radius: 20px;
	}
	.iphone, .iphone iframe {
	width:320px;
	height:480px;
	}
	.iphone-l {
	border-top: 35px solid;
	border-right: 65px solid;
	border-bottom: 35px solid;
	border-left: 65px solid;
	border-radius: 20px;
	}
	.iphone-l, .iphone-l iframe {
	width:480px;
	height:320px;
	}

	/* ipad 1024 x 768 */
	.ipad {
	border: 90px solid;
	border-radius: 20px;
	}
	.ipad, .ipad iframe {
	width:768px;
	height:1024px;
	}
	.ipad-l {
	border: 90px solid;
	border-radius: 20px;
	}
	.ipad-l, .ipad-l iframe {
	width:1024px;
	height:768px;
	}

	/* desktop 1200 x 800 */
	.desktop {
	border: 20px solid;
	border-radius: 10px;
	}
	.desktop, .desktop iframe {
	width:1200px;
	height:800px;
	}

	-->
</style>
<script src="http://code.jquery.com/jquery-1.3b1.js" type="text/javascript"></script>

<script type="text/javascript">
	$(function() {

		$('#iphone').click(function() {
			$("#screen-options li").removeClass("active");
			$(this).addClass("active");
			$('#viewport').attr('class', 'iphone');
			$('#device-detail').attr('class', 'iphone-detail');
		});

		$('#iphone-l').click(function() {
			$("#screen-options li").removeClass("active");
			$(this).addClass("active");
			$('#viewport').attr('class', 'iphone-l');
			$('#device-detail').attr('class', 'iphone-l-detail');
		});

		$('#ipad').click(function() {
			$("#screen-options li").removeClass("active");
			$(this).addClass("active");
			$('#viewport').attr('class', 'ipad');
			$('#device-detail').attr('class', 'ipad-detail');
		});

		$('#ipad-l').click(function() {
			$("#screen-options li").removeClass("active");
			$(this).addClass("active");
			$('#viewport').attr('class', 'ipad-l');
			$('#device-detail').attr('class', 'ipad-l-detail');
		});

		$('#desktop').click(function() {
			$("#screen-options li").removeClass("active");
			$(this).addClass("active");
			$('#viewport').attr('class', 'desktop');
			$('#device-detail').attr('class', 'desktop-detail');
		});

		///get url from form field
		function updateframe() {

			var url = $("#getURL").val();

			/// check for http
			if ($("#getURL").val().match(/^http/)) {
				$('#displayframe').attr('src', url);
			} else {
				validURL = 'http://' + url;
				$('#displayframe').attr('src', validURL);
				return false;
			}

		}

		/// form actions
		$("#button").click(function() {
			updateframe();
		});

		$("#themeSelect a").click(function() {
			$('#getURL').attr('value', $(this).attr('href'));
			updateframe();
			event.preventDefault();
		});

		$("#button").click(function() {
			updateframe();
		});

		$('#getURL').keypress(function(e) {
			if (e.which == 13) {
				updateframe();
			}
		});

		$(function() {
			$('input[type=text]').focus(function() {
				$(this).val('')
			});

		});

		//// Check for url in url
		var givenURL = (RegExp('url=' + '(.+?)(&|$)').exec(location.search)||[,null])[1];
		if (givenURL == null) {
			////set-up random url
			base = "http://www.";
			var urls = ["3200tigres.wwf.fr", "bostonglobe.com", "robot-or-not.com"];
			var randomURL = urls[Math.floor(Math.random() * urls.length)];
			var randomhttpURL = (base + randomURL);
			$('#displayframe').attr('src', randomhttpURL);
			$('#getURL').attr('value', randomURL);
		} else {
			$('#getURL').attr('value', givenURL);
			$('#displayframe').attr('src', givenURL);
		}

	}); 
</script>

<div class="container-fluid">

	{{ fil.ariane(liens) }}
	<div class="row-fluid">
		<div class="span6">
			<ul id="screen-options" class="pull-right">
				<li id="iphone" class="active">
					iPhone
				</li>
				<li id="iphone-l" >
					iPhone landscape
				</li>
				<li id="ipad" >
					iPad
				</li>
				<li id="ipad-l" >
					iPad landscape
				</li>
				<li id="desktop" >
					Desktop
				</li>
			</ul>
		</div>
		<div class="span6">
			<div class="well form-search">
				<input type="text" name="load" id="getURL" class="input-medium search-query" placeholder="URL d'un site web">
				<button id="button" class="btn btn-primary">
					<i class="icon-search icon-white"></i>Voir
				</button>
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> Voir des exemples de sites <span class="caret"></span> </a>
					<ul class="dropdown-menu" id="themeSelect">
						<li>
							<a href="3200tigres.wwf.fr">3200 tigres</a>
						</li>
						<li>
							<a href="bostonglobe.com">Le Boston Globe</a>
						</li>
						<li>
							<a href="robot-or-not.com">Robot or Not</a>
						</li>
						<li>
							<a href="www.barackobama.com/">Barack Obama</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div id="viewport" class="iphone">
		<iframe id="displayframe" name="displayframe" height="480" width="320" src=""></iframe>

	</div>
	<div id="device-detail" class="iphone-detail">
		device detail
	</div>
	</span>
	<br>
	<hr>