{% filter escape('js') %}
<a href="{{ displayUrl(content.id,"default",null,singlePage) }}">

	<div class="pull-left">
		{% if content.image %} <img alt="" class="img-rounded"
			src="/dam?media-id={{content.image}}&amp;width=100&amp;height=60&amp;mode=crop" />
		{% endif %}
	</div>

	<div class="map-item">
		<strong>{{ content.title }}</strong>
		<div class="pull-rigth">
			<em>{{ content.summary }}</em>
		</div>
	</div>
	<div class="clearfix"></div>
</a>
{% endfilter %}