
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;background:url(../images/loading.gif) no-repeat 50% 50%;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; background: #fff; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav a {width: 40px; height: 40px; margin: -20px 0 0; display: block; background: url(../images/arrow-slider.png) no-repeat 0 0; position: absolute; top: 50%; margin-top:-20px; cursor: pointer; text-indent: -9999px; opacity: 0;  
-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 20px; }
.flex-direction-nav .flex-prev {left: 20px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 0px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; cursor: default;}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover,.flex-control-thumbs img.flex-active {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}


/* Control Nav */
.flex-control-nav { position: absolute; bottom: -25px; text-align: center; right:0; display:block;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }


.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position:relative; max-height:190px;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}


@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 0; left: 0;}
  .flex-direction-nav .flex-next {opacity: 0; right: 0;}
}
/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
#magflexslider .flex-container a:active,
#magflexslider.flexslider a:active,
#magflexslider .flex-container a:focus,
#magflexslider.flexslider a:focus  {outline: none;}
#magflexslider .slides,
#magflexslider .flex-control-nav,
#magflexslider .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
#magflexslider.flexslider {margin: 0; padding: 0;background:url(../images/loading.gif) no-repeat 50% 50%;}
#magflexslider.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
#magflexslider.flexslider .slides img {width: 100%; display: block;}
#magflexslider .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
#magflexslider .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] #magflexslider .slides {display: block;} 
* html #magflexslider .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js #magflexslider .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
#magflexslider.flexslider {margin: 0; background: #fff; position: relative; zoom: 1;background:url(../images/loading.gif) no-repeat 50% 50%;}
#magflexslider .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
#magflexslider .loading .flex-viewport {max-height: 300px;}
#magflexslider.flexslider .slides {zoom: 1;}

#magflexslider .carousel li {margin-right: 5px}


/* Direction Nav */
#magflexslider .flex-direction-nav a {width: 40px; height: 40px; margin: -20px 0 0; display: block; background: url(../images/arrow-slider.png) no-repeat 0 0; position: absolute; top: 50%; margin-top:-20px; cursor: pointer; text-indent: -9999px; opacity: 0;  
-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#magflexslider .flex-direction-nav .flex-next {background-position: 100% 0; right: 20px; }
#magflexslider .flex-direction-nav .flex-prev {left: 20px;}
#magflexslider.flexslider:hover .flex-next {opacity: 0.8; right: 0px;}
#magflexslider.flexslider:hover .flex-prev {opacity: 0.8; left: 0px;}
#magflexslider.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
#magflexslider .flex-direction-nav .disabled {opacity: .3!important; cursor: default;}

#magflexslider .flex-control-thumbs {margin:0; position: static; overflow: hidden;}
#magflexslider .flex-control-thumbs li {float: left; margin: 0;}
#magflexslider .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
#magflexslider .flex-control-thumbs img:hover,.flex-control-thumbs img.flex-active {opacity: 1;}
#magflexslider .flex-control-thumbs .active {opacity: 1; cursor: default;}


/* Control Nav */
#magflexslider .flex-control-nav {width: 100%; position: absolute;text-align: center;}
#magflexslider .flex-control-nav li {margin: 0 ; display: inline-block; zoom: 1; *display: inline;}
#magflexslider .flex-control-paging li a {display: block; cursor: pointer; text-indent: -9999px; width:100%; background:#666; height:5px;  -webkit-transition: all .5s ease; -moz-transition: all .5s ease; transition: all .5s ease;-webkit-border-radius: 0px; -moz-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px;}
#magflexslider .flex-control-paging li a:hover { background: #000; }
#magflexslider .flex-control-paging li a.flex-active { background: #F88C00; cursor: default; }


#magflexslider .slider-caption {
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	margin:0;
	background: url(../images/trans.png);
	z-index:8;
	padding: 16px 10px;
	opacity: 1;
	overflow: hidden;
	-moz-opacity:1;
	filter:alpha(opacity=1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
	 -webkit-transition: all 0.6s ease 0s;
     -moz-transition: all 0.6s ease 0s;
      -ms-transition: all 0.6s ease 0s;
       -o-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;     

}
#magflexslider .slider-caption a p {
	padding:5px 0 0 0;
	margin:0;
	color:#f8f8f8;
	font-size:15px;font-family: 'PT Sans', sans-serif;
	font-weight:400;
	line-height:19px;
}
#magflexslider .slider-caption a h1{
	display:inline !important;
	font-size:22px;
	color:#fff;
	text-transform:uppercase;
	line-height:28px;
	
}


#magflexslider.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position:relative; max-height:340px;}
#magflexslider.flexslider .slides img {width: 100%; display: block;}
#magflexslider .flex-pauseplay span {text-transform: capitalize;}


@media screen and (max-width: 860px) {
#magflexslider  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
#magflexslider  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
