
/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.2
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
    margin-bottom:20px;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}


.theme-default .nivo-directionNav a {
	display:block;
	width:40px;
	height:40px;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	top: 50%; margin-top:-20px;
	filter: alpha(opacity = 0);
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	}

.theme-default a.nivo-nextNav{ background:url(../images/arrow-slider.png) right top no-repeat;right: 20px;}

.theme-default a.nivo-prevNav{ background:url(../images/arrow-slider.png) 0 0 no-repeat;left: 20px;}

.theme-default:hover .nivo-directionNav a, .theme-default:active .nivo-directionNav a  { 
	opacity: .99;
	filter: alpha(opacity = 99);  
}

.theme-default:hover a.nivo-prevNav, 
.theme-default a.nivo-prevNav:hover,
.theme-default a.nivo-prevNav:active {
	left:0;	
}
.theme-default:hover a.nivo-nextNav,
.theme-default a.nivo-nextNav:hover,
.theme-default a.nivo-nextNav:active   {
	right:0px;	
}
	

.theme-default .nivo-caption {
    font-family: 'PT Sans', sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

/*
 * jQuery Nivo Slider v3.0.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	overflow: hidden;
	height:100%;
	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width:20000px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	width:100%;
	position:absolute;
	bottom:0px;
	left:0px;
	margin:0;
	background: url(../images/trans.png);
	z-index:8;
	padding: 16px 10px;
	opacity: 1;
	overflow: hidden;
	display: none;
	-moz-opacity:1;
	filter:alpha(opacity=1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;   
	box-sizing: border-box;
	 -webkit-transition: all 0.6s ease 0s;
     -moz-transition: all 0.6s ease 0s;
      -ms-transition: all 0.6s ease 0s;
       -o-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;     

}
.nivo-caption a p {
	padding:10px 0 0 0;
	margin:0;
	color:#f8f8f8;
	font-size:15px;font-family: 'PT Sans', sans-serif;
	font-weight:400;
	line-height:19px;
	display:none;
}
.nivo-caption a h1{
	display:inline !important;
	font-size:22px;
	color:#fff;
	text-transform:uppercase;
	line-height:28px;
	
}
.nivo-html-caption {
    display:none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	bottom:0;
	z-index:9;
	cursor:pointer;
	font-size:0px;
	content:''
}

.slidetimer {bottom:0px;height: 4px;position: absolute;z-index: 99; width: 100%; opacity: 0.7;}
.slideloader { width: 100%; background:#fff url(../images/shadow.png) repeat; height: 4px; display: block; float:left; }

.theme-default .nivo-controlNav {
    position:absolute;
    top:0px;
    right:0;
    margin:0;
	width:80px;
}
.theme-default .nivo-controlNav a {
    display:block;
    background:none;
    text-indent:0px;
    border:0;
    float:none;
	cursor:pointer;
	margin-right:0px;
}

.theme-default .nivo-controlNav img {
    display: inline-block;
    position:relative;
    margin-right:0px;
	margin-bottom:5px;
}

.theme-default .nivo-controlNav a.nivo-control { position:relative !important;}
.theme-default .nivo-controlNav a.nivo-control > img{ opacity:.5}
.theme-default .nivo-controlNav .tslide{ position:absolute !important; bottom:5px !important; left:30px !important; opacity:0; display:block; height:20px; width:20px; background:url(../images/tslide.png) top left no-repeat;}
.theme-default .nivo-controlNav .active .tslide,.theme-default .nivo-controlNav a:hover .tslide{ opacity:.8; left:0 !important;
    -webkit-transition: all 0.6s ease 0s;
     -moz-transition: all 0.6s ease 0s;
      -ms-transition: all 0.6s ease 0s;
       -o-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s; }
.theme-default .nivo-controlNav a.nivo-control.active > img,.theme-default .nivo-controlNav a.nivo-control:hover > img{ opacity:1;}






