<div class="bs-docs-sidebar">
    <h4>Les sujets par Tags</h4>
	<br/>
	<ul class="nav nav-list bs-docs-sidenav well">
		{% for i in 1..12 %}
		<li><a href="#"><i class="icon-chevron-right"></i> tag {{ i }}</a></li>
		{% endfor %}
	</ul>
</div>
<div>
	<br />
</div>
<div>
	<h4>A propos de ce blog</h4>
	<br/>
	<ul class="nav nav-tabs">
		<li class="active"><a href="#webtales" data-toggle="tab">WebTales</a></li>
		<li class=""><a href="#rubedo" data-toggle="tab">Rubedo</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade active in" id="webtales">
			<p>WebTales est un nouvel acteur du web, éditeur d'une solution libre d'ECM (Enterprise Content Management), nommée Rubedo. La solution offrira dès sa sortie des fonctionnalités avancées d'usine à sites internet, intranet et extranet, auxquelles viendront rapidement s'ajouter des modules de gestion documentaire, de travail collaboratif et de réseau social.</p>
		</div>
		<div class="tab-pane fade" id="rubedo">
					<p>
						L’architecture logicielle de Rubedo s’appuie sur les meilleures solutions libres du marché :
						</p>
						<ul style='list-style-type: none;'>
							<li>
								<i class="icon-ok"></i>Un framework PHP mature et éprouvé : <a href="http://framework.zend.com" target="_blank">Zend Framework</a>
							</li>
							<li>
								<i class="icon-ok"></i>Une base documentaire NoSQL : <a href="http://www.mongodb.org" target="_blank">MongoDB</a>
							</li>
							<li>
								<i class="icon-ok"></i>Un moteur de recherche documentaire : <a href="http://elasticsearch.org" target="_blank">Elastic Search</a>
							</li>
							<li>
								<i class="icon-ok"></i>Un Framework JavaScript HTML5 : <a href="http://www.sencha.com/products/extjs/" target="_blank">Sencha Ext-js</a>
							</li>
							<li>
								<i class="icon-ok"></i>Le moteur de template <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a>
							</li>
							<li>
								<i class="icon-ok"></i>Le toolkit HTML5 - CSS3 <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
							</li>
						</ul>
					<p>
				</p></div>
		</div>
	</div>
</div>