<p>Bonjour,</p>

<p>
Le contenu {{ title }} a été publié par {{ publishingAuthor }}.
<a href="{{ directUrl|raw }}">Vous pouvez retrouver ce contenu dans le back-office en suivant ce lien.</a>
</p>
<p>
Cordialement
</p>

<p>{{ signature }}</p>