 {% if(cValue["config"]["multivalued"])and value is iterable %} {% for item in value %}
<div class="progress progress-info progress-striped clear-both">
	<div class="bar" style="width:{{item}}%">{{item}}%</div>
</div>
{% endfor %} {% else %}
<div class="progress progress-info progress-striped clear-both">
	<div class="bar" style="width:{{value}}%">{{value}}%</div>
</div>
{% endif %}
