<div class="span4">
	<div class="hero-unit">
		<h3 class="editable" id="{{ content.id }}_text">{{ content.title|cleanHtml }}</h3>
		<a class="btn" href="{{ url({'pageId':'50c1b31e9a199d9003000000','content-id':content.id},true) }}">Découvrez l'article complet : {{ content.title |cleanHtml }}</a>
	</div>
</div>
