<div class="widget-title">
	<h3>Vos droits et démarches</h3><span class="stripe-dots"></span>
</div>
<ul>
	<li class="cat-item cat-item-10">
		<a href="#">Je déménage</a>
	</li>
	<li class="cat-item cat-item-8">
		<a href="#">J'attends un enfant</a>
	</li>
	<li class="cat-item cat-item-11">
		<a href="#">Je cherche un emploi</a>
	</li>
	<li class="cat-item cat-item-1">
		<a href="#">Je m'installe en couple</a>
	</li>
	<li class="cat-item cat-item-14">
		<a href="#">Je dois faire face au décès d'un proche</a>
	</li>
	<li class="cat-item cat-item-13">
		<a href="#">J'achète un logement</a>
	</li>
	<li class="cat-item cat-item-7">
		<a href="#">J'ai besoin de faire garder mes enfants</a>
	</li>
	<li class="cat-item cat-item-12">
		<a href="#">Je prépare ma retraite</a>
	</li>
</ul>