<!-- Vos services -->
<div class="row">
	<div class="span12 widget-title">
		<h3>Vos services</h3><span class="stripe-dots"></span>
	</div>
</div>
<div class="row">
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Annuaire'>Annuaire</a></h2>
		</header>
		<div>
			<img src="assets/annuaire.jpg" alt="" />
		</div>
		<p>
			Rechercher dans l’annuaire les services municipaux, entreprises, associations…
		</p>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Annuaire'>Services Internet</a></h2>
		</header>
		<div>
			<img src="assets/services_internet.jpg"  alt="" />
		</div>
		<p>
			Etat-civil, services municipaux, carte d’identité, toutes vos démarches en ligne
		</p>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title="Reflet d'Igny">Reflet d'Igny</a></h2>
		</header>
		<div>
			<img src="assets/reflets.jpg"  alt="" />
		</div>
		<p>
			Novembre 2012, numéro 155
		</p>
	</div>
</div>

<!-- En direct -->
<div class="row">
	<div class="span12 widget-title">
		<h3>En direct</h3><span class="stripe-dots"></span>
	</div>
</div>
<div class="row">
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Les associations'>Les associations</a></h2>
		</header>
		<div>
			<img src="assets/associations.jpg"  alt="" />
		</div>
		<p>
			Les derniers messages des blogs
		</p>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					5 novembre 2012  | <a href="#" title="">8 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					23 octobre 2012  | <a href="#" title="">2 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					5 octobre 2012  | <a href="#" title="">1 commentaire</a>
				</div>

			</div>
		</div>
	</div>
	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Dans votre quartier'>Dans votre quartier</a></h2>
		</header>
		<div>
			<img src="assets/quartier.jpg"  alt="" />
		</div>
		<p>
			Conseils de quartiers, derniers événements
		</p>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					3 novembre 2012  | <a href="#" title="">6 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					15 octobre 2012  | <a href="#" title="">11 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					2 octobre 2012  | <a href="#" title="">4 commentaires</a>
				</div>

			</div>
		</div>
	</div>

	<div class="span4">
		<header class="entry-header">
			<h2 class="post-title top"><a href='#' title='Ma Mairie'>Ma Mairie</a></h2>
		</header>
		<div>
			<img src="assets/mairie_informe.jpg"  alt="" />
		</div>
		<p>
			Les dernières délibérations
		</p>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					5 novembre 2012  | <a href="#" title="">9 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					2 novembre 2012  | <a href="#" title="">4 commentaires</a>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="span4 format-standard" style="margin-top:5px; padding-top:5px; border-top:1px solid #E3E3E8;">

				<header class="entry-header">
					<h2 class="post-title-small"><a href='#' title=''>Lorem ipsum</a></h2>
				</header>
				<div class="entry-info">
					6 octobre 2012  | <a href="#" title="">2 commentaires</a>
				</div>

			</div>
		</div>
	</div>
</div>