.checkout-heading{
    border-radius:6px;
    background-color: #e7e7e7;
}
.checkout-heading h5{
    padding:6px;
}
.checkout-group{
    border:none !important;
}
.checkout-inner{
    border:none !important;
}
.checkout-progress{
    height:4px;
}