.sidebar-nav {
	padding: 9px 0;
}

.highlight{
	background-color:#E3E84D;
}
/**
 * Rating field
 */
.empty-star {
  background: url('../img/empty-star.png');
	width:15px;
	height:15px;
	display:inline-block;
}
.full-star {
  background-image: url('../img/full-star.png');
	width:15px;
	height:15px;
	display:inline-block;
}
.half-star {
  background-image: url('../img/half-star.png');
	width:15px;
	height:15px;
	display:inline-block;
}

/**
 * Rubedo Modal
 */

.complete-edition-btn
{
	margin-left:8px;
}
/**
 * Gallery
 */
.gallery-control
{
font-size:60px;
font-weight: 100;
text-align: center;
border: 3px solid #fff;
opacity: .5;
margin-top:1px;
}
.gallery-control-wrap{
	border:solid red;
	width:50px;
	height:50px;
}
/**
 * Map
 */
.mapPlaceholder img {
    max-width: none;
}

/**
 * Rubedo Form
 */
.rubedo-form label{
	display:inline-block;
}
.rubedo-form .control-label {
float: left;
width:auto !important;
text-align:left;
padding-top: 5px;
}
.rubedo-form .table-condensed td{
	border:none !important;
}
.rubedo-form .table-condensed tr{
	border-top:1px solid #ddd !important;
}
.rubedo-form .controls{
	clear:both;
	margin-left:0px !important;
}

.rubedo-form .no-hero{
	padding: 0px;
	margin-bottom: 30px;
	background-color: transparent;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#btn-save {
	margin-left: 10px;
}

@media screen and (max-width: 640px) {
  .rubedo-form .controls input {
		width:100%;
  }
 .rubedo-form .controls textarea {
		width:100%;
  }
  .active-items .pagination ul{
	margin-left:auto !impotant;
  }

}
@media screen and (max-width: 700px) {

  .active-items .pagination ul{
	margin-left:auto !impotant;
  }

}
@media screen and (max-width: 440px) {
  .rubedo-form .controls input {
		width:100%;
  }
  .rubedo-form .btn{
	float:none !important;
  	margin-top:5px;
  	width:100%;
  }
  .rubedo-form a{
	padding:5px 0px 5px 0px;
  }
    .active-items .pagination ul{
	margin-left:auto !important;
  }
  
}

/**
* Calendar rubedo
*/
.calendar-rubedo table tbody tr td span {
	padding: 2px 4px;
}

.calendar-rubedo table {
	margin-left: auto;
	margin-right: auto;
}

.calendar-rubedo .table-striped {
	border: 0;
}

.calendar-rubedo .table-bordered th, [id^='calendar-'] .table-bordered td{
	border-left: 1px solid #bbb;
}

.calendar-rubedo .table-bordered th:first-child, [id^='calendar-'] .table-bordered td:first-child{
	border-left: 0;
}

.calendar-rubedo table thead tr th a {
	margin-bottom: 10px;
}

.calendar-rubedo table {
	margin-bottom: 10px;
}

.calendar-items-rubedo ul li:first-child>a {
	-webkit-border-top-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
	-webkit-border-top-left-radius: 0px !important;
	border-top-left-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-topleft: 0px !important;
}

.calendar-items-rubedo ul li:last-child>a {
	-webkit-border-bottom-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	-webkit-border-bottom-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
}

.calendar-items-rubedo ul li a {
	border: 0 !important;
}

/**
* Content list
*/
.entry-content {
	height: 80px;
	overflow: hidden;
}
	
.form-actions {
	background: none;
	border-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.post-title-small {
	max-height: 46px;
	overflow: hidden;
}

/**
 * Site map
 */
#siteMap {
	margin-left:0;
}

#siteMap li {
	list-style: none;
}

/**
 * Alert
 */
#alert {
	margin-bottom: 0;
}

/**
 * admin navbar
 */
#contentToolBar .navbar-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#contentToolBar .label {
	margin-top: 11px;
}

#contentToolBar .btn-toolbar {
	margin-top: 0;
	margin-bottom: 0;
}

/**
 * Search page
 */
#inputSearchBlock {
	min-width: 230px;
}

/**
 * Calendar
 */
.calendar-item, .map-item {
	padding-left: 8em;
}

/**
 * cursor
 */
.cursor-default {
	cursor: default !important;
}

.cursor-pointer {
	cursor: pointer;
}

/**
 * clear
 */
.clear-both {
	clear: both;
}

.clear-right {
	clear: right;
}

/**
 * image field
 */
.image-field {
	max-width:200px; 
	max-height: 200px;
}

/**
 * localiser block
 */
.localiser-rubedo {
	height:400px; 
	margin-bottom:10px;
}

/**
 * hide block
 */
.hidden-rubedo {
	display: none;
}

/**
 * show block
 */
.show-rubedo {
	display: block;
}

/**
 * localiser address input
 */
.localiser-address, .event-address {
	width: 99%;
}

/**
 * thumbnail in gallery
 */
.thumbnail-rubedo {
	margin: 1em;
	overflow: hidden;
}

.thumbnail {
	border: none;
	text-align: center;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.thumbnail-title {
	margin-top:5px; 
	font-weight:bold;
	text-align: center;
	max-height: 20px;
}

/**
 * auto margin
 */
.auto-margin {
	margin: auto;
}

/**
 * Short singles
 */
.shortsingle-rubedo {
	border-bottom: 1px solid #E3E3E8; 
	margin-bottom: 10px; 
	padding-bottom: 2px;
}

.shortsingle-img-container {
	height: 80px;
	margin-right:1em;
	margin-bottom:1em;
}

/**
 * add this position
 */
.addthis-pos {
	left:50px;
	top:50px;
}

/**
 * Calendar
 */
.calendar-rubedo {
	width: 270px;
	float: left;
}

.calendar-items-rubedo {
	min-width: 400px;
	width: auto; 
	overflow: auto; 
}

@media screen and (max-width: 400px) {
	.calendar-items-rubedo {
		min-width: 0;
		overflow: visible;
	}
	
	.calendar-items-rubedo img {
		display: none;
	}
	
	.calendar-item {
		padding-left: 0;
	}
}

/**
 * Carrousel
 */
.carrousel-img, .flickr-img, .gallery-load {
	width: 100%;
}

/**
 * Content list
 */
.contentlist-btn {
	margin-top: 10px;
}

/**
 * Form
 */
.form-new-btn {
	margin: 5px;
}

.form-answer-text {
	margin-top: 40px;
}

.form-step {
	width: 80%;
}

/**
 * Float
 */
.float-right {
	float: right;
}

/**
 * Search
 */
.search-progress {
	width:50px; 
	float: left;
}

/**
 * Evenements
 */
.event-pos {
	height:400px; 
	margin-bottom:10px;
}

/**
 * Icon
 */
.icon-margin {
	margin-left: 10px;
}

/**
 * Marker
 */
.marker {
	max-height: 250px;
	overflow: auto;
}

/**
 * Rubedo block
 */
.block-rubedo {
	margin: 5px 0;
}

/**
 * Links
 */
a:hover, a:focus {
	text-decoration: none !important;
}

/**
 * Flickr gallery
 */
.flickr-rubedo {
	text-align: center;
}
/**
 * Google Map block properties and fixes
 */
.gmapholderpanel {
    position: relative;
    bottom: -45px;
    z-index: 1;
}
.gmapmapcanvascorrected{
    bottom: 30px;
}
.gmapmapcanvas img {
    max-width: none;
}
