.shoppingcartmenu{
    padding:10px;
}
.scartbtn{
    margin-right:10px;
}
.ui-effects-transfer {
    border: 2px dashed gray;
}
.productremovelingnbtn, .productincreasebtn, .productdecreasebtn{
    cursor:pointer;
}