<div class="control-group">
	<label class="control-label">{{ field['config']['fieldLabel'] }}</label>
	<div class="controls">
		<input type="checkbox" name="{{ field['config']['name'] }}" value=true>
	</div>
</div>