<form action="?editProfile" method="post">
    {% for key, cValue in type %}
        {% set cType = cValue['cType'] %}
        {% if key in data|keys %}
            {% set value = data[key] %}
        {% else %}
            {% set value = null %}
        {% endif %}
        {% if cType == 'Rubedo.view.ImagePickerField' %}
            {# Do nothing, todo in future release
            {% if value != "" %}
                {% include '/blocks/userFieldsEdit/mediaField.html.twig' %}
            {% endif %}#}
        {% elseif cType == 'Rubedo.view.CKEField' %}
            {% include '/blocks/userFieldsEdit/richtext.html.twig' %}
        {% elseif cType == 'Ext.ux.widget.Rating' %}
            {% include '/blocks/userFieldsEdit/rating.html.twig' %}
        {% elseif cType == 'Ext.form.field.TextArea' %}
            {% include '/blocks/userFieldsEdit/textarea.html.twig' %}
        {% elseif cType == 'Ext.slider.Single' %}
            {% include '/blocks/userFieldsEdit/slider.html.twig' %}
        {% elseif cType == 'Ext.ux.TreePicker' %}
            {# Do nothing, todo in future release
            {% include '/blocks/userFields/link-to-page.html.twig' %}
            #}
        {% elseif cType == 'Rubedo.view.localiserField' %}
            {% include '/blocks/userFieldsEdit/location.html.twig' %}
        {% elseif cType == 'Ext.form.field.Date' %}
            {% include '/blocks/userFieldsEdit/date.html.twig' %}
        {% elseif cType == 'Ext.form.field.ComboBox' %}
            {% include '/blocks/userFieldsEdit/combobox.html.twig' %}
        {% elseif cType == 'Ext.form.field.Time' %}
            {% include '/blocks/userFieldsEdit/time.html.twig' %}
        {% elseif cType == 'Ext.form.field.Number' %}
            {% include '/blocks/userFieldsEdit/number.html.twig' %}
        {% elseif cType == 'Rubedo.view.externalMediaField' %}
            {% include '/blocks/userFieldsEdit/external-media.html.twig' %}
        {% elseif cType == 'Ext.form.field.Checkbox' %}
            {% include '/blocks/userFieldsEdit/checkbox.html.twig' %}
        {% elseif cType == 'Ext.form.CheckboxGroup' %}
            {% include '/blocks/userFieldsEdit/checkboxgroup.html.twig' %}
        {% elseif cType == 'Ext.form.RadioGroup' %}
            {% include '/blocks/userFieldsEdit/radiogroup.html.twig' %}
        {% elseif cType == 'Ext.ux.ColorField' %}
            {% include '/blocks/userFieldsEdit/color.html.twig' %}
        {% else %}
            {% include '/blocks/userFieldsEdit/text.html.twig' %}
        {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">{{ 'Label.Submit'|fotrans }}</button>
    <a href="?" class="btn btn-danger">{{ 'Label.Cancel'|fotrans }}</a>
</form>