      
      <footer align="center">
        <p>&copy; WebTales 2012. Le projet Rubedo est supporté par <a href="http://www.centraleparis-incubateur.fr" target="_blank"><img src="/img/incubateur_centrale.png"></a></p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
    <script src="/ckeditor-dev/ckeditor.js"></script> 
    <!--<script src="/extjs-4.1.1/ext-all.js"></script>-->
    <!--<script src="/js/jquery.jeditable.mini.js"></script>-->
    

    <script type="text/javascript">
    
    	$(document).ready(function() {
    		$('#contentType a').click(function(event) {
    			$('#addContentForm').modal();
    			<!-- todo : put real url for editing contents -->
				var url = 'http://rubedo-bo.local/test.html';
    			$('#addContentForm .modal-body').html('<iframe width="100%" height="100%" frameborder="0" scrolling="no" allowtransparency="true" src="' + url + '"></iframe>');				
    			event.preventDefault(); 
    		});
            $('#themeChooser a').click(function(event) {
                $.getJSON('/xhr-theme/define-theme?theme='+$(this).attr('href'), function(data) {
                    if (data.success) location.reload();
                });
                event.preventDefault(); 
            });
            $('#langChooser a').click(function(event) {
            	
                $.getJSON('/xhr-language/define-language?language='+$(this).attr('href'), function(data) {
                    if (data.success) location.reload();
                });
                event.preventDefault(); 
            });
		    $('#connect').submit(function() {
            	$.post('/xhr-authentication/login', 
            		{"login":$('#inputEmail').val(),"password":$('#inputPassword').val()},
            		function(data) {
	        	        if (data.success) {
	            	    	$(this).modal('hide');
	                		location.reload();
	                	} else {
	                		$("#connect-msg").html('{{"identifier_error"|trans}}');
	                	}
	            	},
	            	"json"
            	);
				return false;
			});		
	        $.getJSON('/xhr-authentication/is-logged-in', function(data) {
    	        if (data.loggedIn) {
    	        	$('#connect-btn').html('<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i> '+data.username+' <span class="caret"></span></a><ul class="dropdown-menu"><li><a href="#">{{"my_account"|trans}}</a></li><li class="divider"></li><li><a href="/backoffice/" >{{"access_back_office"|trans}}</a></li><li class="divider"></li><li><a href="#" id="logout">{{"sign_out"|trans}}</a></li></ul>');	
					$.getScript('/xhr-javascript/get-script?script=rubedo-edit', function() {
            							
					});   
					$('#logout').click(function() {
					    $.getJSON('/xhr-authentication/logout/', function(data) {
					        if (data.success) {
					    		location.reload();
					    	}
						});
						return false;
					});      		
            	} else {
            		$('#connect-btn').html('<a class="btn" data-toggle="modal" href="#connect"><i class="icon-user"></i> {{"sign_in"|trans}}</a>');
            	}
        	});			
		});
   </script>
  </body>
</html>