<div class="container-fluid">
	<div class="row-fluid">
		<div class="span4">
			{% block zone_x %}{% endblock %}
		</div>
		<div class="offset2 span6">
			{% block zone_x %}{% endblock %}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			{% block zone_x %}{% endblock %}
		</div>
		<div class="span8">
			<div class="row-fluid">
				<div class="span4">
					{% block zone_x %}{% endblock %}
				</div>
				<div class="offset2 span6">
					{% block zone_x %}{% endblock %}
				</div>
			</div>
			<div class="row-fluid">
				<div class="span4">
					{% block zone_x %}{% endblock %}
				</div>
				<div class="span8">
					{% block zone_x %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>
