{% extends "root/block.html.twig" %}

{% block mainContent %}

<div class="block contentlist" style="margin-top:2em;">
	<div class="row-fluid">
		{% for content in data %}
		{% include content.type  %}
		{% endfor %}
	</div>
	{%if page.limitPage > 1 %}
		
		<div class="pagination pagination-mini">
			<ul>
				{% if page.currentPage != 1%}
				<li>
					<a href="{{url({'page': page.currentPage-1,'prefix':prefix},true)}}"><<</a>
				</li>
				{%endif%}
				{% for  i in 1..page.limitPage %}
				<li {% if page.currentPage == i%}class="active"{%endif%}>
					<a href="{{url({'page': i,'prefix':prefix},true)}}">{{i}}</a>
				</li>
				{%endfor%}
				{% if page.currentPage != page.limitPage %}
				<li>
					<a href="{{url({'page': page.currentPage+1,'prefix':prefix},true)}}">>></a>
				</li>
				{%endif%}
			</ul>
		</div>
		{%endif%}
</div>
{% if isLoggedIn %}
{%if query.type=="manual"%}
<div id="list-editmode" class="hide">
	<div class="btn-group pull-left">
						<a class="btn" href="#" id="btn-add-content"> <i class="icon-edit"></i>
							Ajouter un contenu
						</a>
					</div>
</div>
{%endif%}
{%endif%}
{% endblock %}
