<div class="row-fluid">
    <form method="post" class="form-horizontal" id="checkoutShippingMethodForm">
        <div id="shippingMethodsHolder">

        </div>
        <div class="form-actions">
            <button class="btn btn-primary" id="chkStep5Continue" onclick="setCheckoutStep(6);return false;">Continue</button>
        </div>
    </form>
</div>