<div class="row-fluid">
    <form method="post" class="form-horizontal" id="checkoutShippingMethodForm">
        <div id="shippingMethodsHolder">

        </div>
        <div class="control-group">
            <label class="control-label" for="comments">{{ 'Blocks.Checkout.Label.AddComments'|fotrans }}</label>
            <div class="controls">
                <textarea name="comments" id="comments" rows="4" class="full-width"></textarea>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" id="chkStep5Continue" onclick="setCheckoutStep(6);return false;">Continue</button>
        </div>
    </form>
</div>