{%if like %}
	{%if small%}
		<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=300&amp;pubid=xa-511e33e3511821fb"><img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif" width="125" height="16" alt="Bookmark and Share" style="border:0"/></a>
	{%else%}
		{%if type==horizontal%}
			<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<a class="addthis_button_pinterest_pinit"></a>
			<a class="addthis_counter addthis_pill_style"></a>
			</div>
		{%else if type==vertical%}
			<div class="addthis_toolbox addthis_floating_style addthis_counter_style" style="left:50px;top:50px;">
			<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
			<a class="addthis_button_tweet" tw:count="vertical"></a>
			<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
			<a class="addthis_counter"></a>
			</div>
		{%endif%}
	{%endif%}
{%else%}
	{%if type==horizontal%}
	<div class="addthis_toolbox addthis_default_style {%if !small%}addthis_32x32_style{%endif%}">
	{%else if type==vertical%}
	<div class="addthis_toolbox addthis_floating_style addthis_{%if small%}16x16{%else%}32x32{%endif%}_style" style="left:50px;top:50px;">
	{%endif%}
	<a class="addthis_button_preferred_1"></a>
	<a class="addthis_button_preferred_2"></a>
	<a class="addthis_button_preferred_3"></a>
	<a class="addthis_button_preferred_4"></a>
	<a class="addthis_button_compact"></a>
	{%if type==horizontal%}<a class="addthis_counter addthis_bubble_style"></a>{%endif%}
	</div>
{%endif%}
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-511e2ace46152c8d"></script>