{% extends "@Root/block.html.twig" %}

{% block mainContent %}
    {% if not error %}
        {{ form | raw }}
    {% else %}
        <div class="alert" id="{{ id }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        	&nbsp;<strong>{{ "Block.error" | fotrans }}</strong>&nbsp;&nbsp;{{ "Block.errorNoDisplay" | fotrans }}
        </div>
	{% endif %}
{% endblock %}