{% extends "root/block.html.twig" %} {% block mainContent %} {% if
audioFile %}

	<div id="audio_{{ prefix }}" class="audioPlaceholder"
		data-audioFile="/dam.{{ extension }}?media-id={{ audioFile }}"
		data-width="100%" data-height="24">{{ alt }}</div>

{% endif %} {% endblock %}

