<a href="#auth-modal" role="button" class="btn btn-large" data-toggle="modal">Connexion</a>

<div id="auth-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Se connecter</h3>
  </div>
  <div class="modal-body">
   <form class="form-search">
 	 <input type="text" class="input-medium search-query" placeholder="Login">
 	 <input type="password" class="input-medium search-query" placeholder="Mot de passe">
    <a href="#" class="btn">Annuler</a>
    <a href="#" type="submit" class="btn btn-primary">Connexion</a>
    </form>
  </div>
</div>


