{% extends "root/block.html.twig" %}
{% block mainContent %}
{% if isLoggedIn %}
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
   <i class="icon-user"></i>&nbsp;{{currentUser.name}}
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#" onclick="logout()"><i class="icon-off"></i> Déconnexion</a></li>
  </ul>
</div>
{%else%}
<a href="#auth-modal" role="button" class="btn" data-toggle="modal">Connexion</a>
<div id="auth-modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Se connecter</h3>
  </div>
  	 <div class="modal-body">
  	    <span class="form-inline">
  	    <label for="login">Login</label>
 	 	<input type="text" id="login" class="input-medium" placeholder="Login ou email">
 	 	<label for="password">Mot de passe</label>
		<input type="password" id="password" class="input-medium" placeholder="Mot de passe">
		</span>
 	 </div>
 	 <div id="error-msg" class="alert alert-error hidden-rubedo">
     </div>
 	 <div class="modal-footer">
    <a href="#"  data-dismiss="modal" class="btn">Annuler</a>
    <a href="#" onclick="loggin()" class="btn btn-primary">Connexion</a></div>
</div>
{%endif%}
<script type="text/javascript">
function loggin()
{
		jQuery.ajax({
		   type: "POST", 
		   url: "/xhr-authentication/login",
		   async:true,
		   dataType: "json",
		   data: { login: jQuery('#login').val(), password: jQuery('#password').val() },
		   success: function(msg){
		   if(msg.success==false){
		   jQuery("#error-msg").show();
		   jQuery("#error-msg").html(msg.message);
		   }else{
		   	jQuery('#password').val("");
		    jQuery('#login').val("");
		    jQuery('#auth-modal').modal("hide");
		    window.location.reload(); 
			}
		   }
		});
}
function logout()
{	 
		jQuery.ajax({
		   type: "POST",
		   async:false, 
		   url: "/xhr-authentication/logout",
		   success: function(msg){
				window.location.reload(); 
		   }
		});
}
</script>
{% endblock %}



