{% extends "root/block.html.twig" %} 

{% block mainContent %} 	  	

<ul class="breadcrumb">

		{% for page in rootline %} 
		<li>
		<a href="{{url({'pageId':page.id})}}"> {{ page.text }}
		</a> <span class="divider">/</span></li>
		 {% endfor %}
        <li class="active">{{ title }}</li>
</ul>
{% endblock %}
