{% extends "@Root/blocks/contentlist.html.twig" %}

{% block mainList %}
    {% set displayBoth =  display.showList and display.showCal %}

    <div class='row-fluid'>
        <div class="span12">
            {% if display.showCal %}
                <div id='calendar-{{ prefix }}' class='calendar-rubedo'>
                    {% include 'root/blocks/calendar/table.html.twig' %}
                </div>
            {% endif %}
            
            {% if display.showList %}
                <div id='calendar-items-{{ prefix }}' class="calendar-items-rubedo">
                    {% include 'root/blocks/calendar/list.html.twig' %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block pager %}
{% endblock %}