{% extends "root/block.html.twig" %} 

{% block mainContent %}
{% if not doNotShow %}
<br><br>
<div id="{{prefix}}" class="carousel slide">
	<div class='progress-gallery hide'>
		<p>En chargement</p>
		<div class="progress progress-striped active">
			<div class="bar flickr-img" style="width: 100%;"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	
	{% include 'root/blocks/flickr/items.html.twig' %}
</div>
{% endif %}
{% endblock %}
