{% extends "root/block.html.twig" %} 

{% block mainContent %}
<!-- carousel -->
{% set galleryid="gallery-"~random() %}
<br><br>
<div data-toggle="modal-gallery" data-target="#modal-gallery">
	<div id="{{galleryid}}" class="carousel slide">
		<div class="carousel-inner">
			{% include 'root/blocks/flickr/items.html.twig' %}
		</div>
	</div>
</div>
{% endblock %}
