{% extends "root/block.html.twig" %} 

{% block mainContent %}
{% set progress= (currentFormPage*100)/nbFormPages %}
<div id="form-container-{{ form.id }}" class="rubedo-form-container" >
<div class="progress progress-info progress-striped">
  <div class="bar" style="width:{{ progress }}%"></div>
</div>
<form id="{{ form.id }}" method="post" action="" class="form-horizontal rubedo-form hero-unit" >
	<input type="hidden" name="currentFormPage" value="{{ currentFormPage }}"/>
	{% for field in formFields.elements %}
	{%   include "/root/blocks/forms/"~field.itemConfig.fType~".html.twig" %}
	{% endfor %}

	{% if currentFormPage !=0 %}
		<a class="btn" style="float:left;" href="?getPrevious=1">Précédent</a>
	{% endif %}
	{% if currentFormPage==nbFormPages-1 %}
		<input class="btn btn-info" style="float:right;" type="submit" value="Terminer"/>
	{% else %}
	<input class="btn" style="float:right;" type="submit" value="Suivant"/>
	{% endif %}
</form>
</div>
{% endblock %}