{% extends "root/block.html.twig" %} 

{% block mainContent %}

<form id="{{ form.id }}" method="post" action="" class="form-horizontal rubedo-form" >
	<input type="hidden" name="currentFormPage" value="{{ currentFormPage }}"/>
	{% for field in formFields.elements %}
	{%   include "/root/blocks/forms/"~field.itemConfig.fType~".html.twig" %}
	{% endfor %}

	{% if currentFormPage !=0 %}
		<input class="btn" style="float:left;" type="submit" value="Précédent"/>
	{% endif %}
	<input class="btn" style="float:right;" type="submit" value="Suivant"/>
</form>

{% endblock %}