{% extends "root/block.html.twig" %} 

{% block mainContent %}

<br><br>
<div id="{{galleryid}}" class="carousel slide">
		{% include 'root/blocks/gallery/items.html.twig' %}
</div>

{% endblock %}


