{% extends "root/block.html.twig" %} 

{% block mainContent %}

<div id="{{prefix}}" class="carousel slide">
		<div class='progress-gallery span6 offset3 hide'>
			<p>En chargement</p>
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%;"></div>
			</div>
		</div>
		{% include 'root/blocks/gallery/items.html.twig' %}

</div>
<!--<div class="pull-right" style="clear:both">
 <a class="btn" href="#" style="margin-top:10px;" id="btn-add-content" onclick="slide()">Auto
	</a>
</div>-->

{% endblock %}


