{% extends "root/block.html.twig" %} 

{% block mainContent %}
<!-- carousel -->
{%set galleryid="gallery-"~random() %}
{%set pages=count//pageSize%}

<br><br>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
	{% for item in items %}
    <a href="/dam?media-id={{item.image}}" data-gallery="gallery"><img src="/dam?media-id={{item.image}}" width="184" alt="{{item.title}}" title="{{item.title}}"></a>
    {% endfor %}
</div>

{% endblock %}


