{% extends "root/block.html.twig" %} 
{% block mainContent %}
<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <i
		class=""></i> {{ currentLanguage.label }} <span class="caret"></span>
	</a>

	<ul class="dropdown-menu">
		{% for language in languages %}
		{% if language.locale != currentLanguage.locale %}
		<li><a href="#" onclick="chooseLanguage('{{ language.locale }}');"><i
				class=""></i> {{ language.label }}</a></li> 
				{% endif %}
		{% endfor %}

	</ul>
</div>

{% endblock %}



