{% extends "root/block.html.twig" %}

{% block mainContent %}
    <div class="block newsletter">
		<form class="form-inline">
			<div class="input-append">
    			<input id="email" class="input-medium" type="text" placeholder="{{ "Label.Email" | fotrans }}"/>
    			<input class="btn btn-primary" type="button" value="{{ "Label.Subscribe" | fotrans }}" onclick="addEmail(jQuery('#email').val(), '{{ blockConfig.mailingListId }}');"/>
			</div>
		</form>
		
		<div class="alert hidden" id="mailingListAlert">
			<span id="mailinglist-message"></span>
		</div>
	</div>
{% endblock %}