<!DOCTYPE html>
<html lang="fr">
<head>
{% block pageTitle %}
<title>Démo Rubedo 1</title> {% endblock %} {% block pageMeta %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
	content="The Rubedo Project, open-source CMS with Zend Framework, MongoDB and Ext-JS">
<meta name="author" content="WebTales">
{% endblock %} {% block pageStyle %}
<!-- Styles -->
<link rel='stylesheet' id='prettyPhoto-css'
	href='/cnews/css/prettyPhoto.css?ver=3.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'
	href='/cnews/css/font-awesome.css?ver=3.4.2' type='text/css'
	media='all' />
<link rel='stylesheet' id='nivo-slider-css'
	href='/cnews/css/nivo-slider.css?ver=3.4.2' type='text/css' media='all' />
<link rel='stylesheet' id='vegas-css'
	href='/cnews/css/jquery.vegas.css?ver=3.4.2' type='text/css'
	media='all' />
<link rel='stylesheet' id='mediaelementplayer-css'
	href='/cnews/js/build/mediaelementplayer.min.css?ver=3.4.2'
	type='text/css' media='all' />
<link rel='stylesheet' id='google-code-prettify-css'
	href='/cnews/js/google-code-prettify/prettify.css?ver=3.4.2'
	type='text/css' media='all' />
<link rel='stylesheet' id='csc-style-css'
	href='/cnews/css/csc-style.css?ver=3.4.2' type='text/css' media='all' />
<link rel="stylesheet" type="text/css" media="all"
	href="/cnews/style.css" />

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% endblock %}

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="/assets/ico/apple-touch-icon-57-precomposed.png">
<link
	href='http://fonts.googleapis.com/css?family=PT+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Ubuntu+Condensed:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Oswald:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Ubuntu+Condensed:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Ubuntu+Condensed:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Ubuntu+Condensed:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Oswald:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|Open+Sans+Condensed:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic|PT+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css'>

<!-- js mandatory in the header section -->
<script type='text/javascript' src='/js/jquery/jquery.js?ver=1.7.2'></script>
<script type='text/javascript' src='/js/comment-reply.js?ver=3.4.2'></script>

</head>

<body style="background: #e3e3e8 url(/assets/bg.jpg) repeat-x top">
	{% block pageContentToolBar %} {% if isLoggedIn %}

	<div class="navbar hide navbar-inverse navbar-fixed-top"
		id="contentToolBar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a>
				<!--<a class="brand" href="#" style="color: white;">Administration</a>-->
				<div id='viewmode'>
					<div class="btn-group pull-left">
						<a class="btn" href="#" id="btn-edit"> <i class="icon-edit"></i>
							Editer la page
						</a>
					</div>
					<span class="label label-success pull-right">Consultation</span>
				</div>
				<div id='editmode' class='hide'>

					<a class="btn pull-left" href="#" id="btn-cancel"
						style="margin-right: 10px;"> <i class="icon-remove"></i> Annuler
					</a> <a class="btn pull-left" href="#" id="btn-save"> <i
						class="icon-ok"></i> Sauvegarder les modifications
					</a> <span class="label label-warning pull-right">Edition</span>
				</div>
			</div>
		</div>
	</div>
	{% endif %} {% endblock %}
	<div class="container basis"
		style="position: relative; background: #ffffff;">

		<!-- filet mignon -->
		<div class="row top-bar"
			style="margin-left: -30px; margin-right: -30px; padding-top: 5px; padding-bottom: 5px;"></div>

		{% block pageMainContent %} {% if rows %} {% for row in rows %} {%
		include 'cnews/row.html.twig' with row only %} {% endfor %} {% endif %}
		{% endblock %}

	</div>

	<!-- JS files -->

	<script type='text/javascript' src='/cnews/js/home.js'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.ui.totop.js?ver=1.1'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.prettyPhoto.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.easing.1.3.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.cycle.all.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/google-code-prettify/prettify.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/bootstrap.min.js?ver=3.4.2'></script>
	<script type='text/javascript' src='/cnews/js/application.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/build/mediaelement-and-player.min.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.isotope.min.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.nivo.slider.pack.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.flexslider-min.js?ver=3.4.2'></script>
	<script type='text/javascript' src='/cnews/js/superfish.js?ver=3.4.2'></script>
	<script type='text/javascript' src='/cnews/js/modernizr.js?ver=3.4.2'></script>
	<script type='text/javascript'
		src='/cnews/js/jquery.vegas.js?ver=3.4.2'></script>
	<script type='text/javascript' src='/cnews/js/custom.js?ver=3.4.2'></script>
	{% for file in js %}
	<script type="text/javascript" src="{{baseUrl}}{{file}}"></script>
	{% endfor %}

</body>
</html>