
<div class="row {{ classHtml }}" {% if idHtml %}id="{{ idHtml }}"{% endif %}>
	{% if displayTitle %}
	<div class="span12 widget-title">
		<h3>{{ eTitle }}</h3><span class="stripe-dots"></span>
	</div>
	{% endif %}
	<!-- process columns -->
	{% if columns %}
		{% for column in columns %}
			{% include column.template with column %}
		{% endfor %}
	{% endif %}
</div>