html,body {font-family: 'PT Sans', sans, serif; font-weight:300;
color:#6F7072; font-size:14px}
h1, h1.post-title {font-family: 'Oswald', sans, serif; font-weight:400;
color:#6F7072; font-size:32px; line-height:32px}
h2,h2.post-title {font-family: 'Oswald', sans, serif; font-weight:400;
color:#6F7072; font-size:23px;line-height:23px}
h3{font-family: 'Open Sans Condensed', sans, serif; font-weight:700;
color:#6F7072; font-size:18px; line-height:18px}
p{font-family: 'PT Sans', sans, serif; font-weight:300;
color:#6F7072; font-size:14px;}
.logotext a h1{font-family: 'Oswald', sans, serif; font-weight:700;
color:#6F7072; font-size:42px}
.logotext a h3{font-family: 'Oswald', sans, serif; font-weight:700;
color:#2D5C88; font-size:16px}
.widget-title h3{font-family: 'Oswald', sans, serif; font-weight:400;
color:#6F7072; font-size:16px;line-height:16px}
.tops{font-family: 'Open Sans Condensed', sans, serif;}
a,
#change-small i,#change-small2 i,
.blog-meta .data .month,
.blog-meta .data .day,
.blog-meta .data .year,
#commentform label,
ul.price li.cost,
ul.price li.cost h3,
#container-ch .item-block-isotope .description,
.item-block-isotope .symbol,
.item-block-isotope .name ,
.item-block-isotope .summary p,
.sidebar_block h3,
.sidebar_block h4,.page-header h1,
.block-info .home-title,
a.description,
.promo-slogan h1 span,
nav ul.menu li a:hover, nav ul li.current-menu-item > a,nav ul li.current-menu-parent > a,nav ul li.current_page_parent > a,
.divider-strip h1,.divider-strip h3, h3.widget-title{color:#6F7072;}
a:hover,#top a:hover,
#commentform label small,
#footers .tweets ul li a,.divider-strip.author h3 span,.menu-csc-side-navigation-container .menu li.current-menu-item a,.post-title.top a,.breadcrumbs_menu .current,ul.control-menu li a:hover,#wp-calendar tbody td a,.not-mes{color:#2D5C88;}
.menu-csc-side-navigation-container .menu li.current-menu-item a{ border-left-color:#2D5C88}
#top .info-text li{color:;}
#top .info-text li a{color:;}
.carousel-right:hover,
.item-block:hover > a.description,
ul.control-menu li a:hover,
#container-ch .item-block-isotope:hover > .description,
.item-block-isotope .zoomi:hover,.item-block-isotope .linki:hover,.item-block-isotope .info:hover,.open-block-acc.active,.open-block.active a,.cat-slider,#wp-calendar tbody td#today a{ background-color:#2D5C88;}
.widget-title h3{ background-color:#ffffff;}
ul.control-menu li a,
.button:hover, .button:focus,
ul.control-menu li a,.button.blue,.port-info .port-info-back{ background:#2D5C88; }
.top-bar{background:#4D4D4D ;}
.top-bar{border-top:3px #2D5C88 solid;}
#top-search .search-query.span4 { background-color:;}
nav ul.menu{background-color:#4d4d4d;}
nav ul.menu{ border-bottom:5px solid #2D5C88;}
i{color:;}
#change-small .change-select,#change-small2 .change-select,ul.filter-change li a:hover,ul#portfolio-filter li a:hover,
ul.control-menu li a,
ul#portfolio-filter li a.currents,ul.filter-data li a.selected,
ul.price.best li.cost,
.progress-warning.progress-striped .bar,
.button.blue:hover{background-color:#6f7072}
ul.control-menu li a,
ul.filter-data li a:hover{ background-color:#6f7072;color: #f8f8f8;}
#change-small i,#change-small2 i{ color:#f8f8f8;}
.dropcap,
.button,
.hover-desc-bottom{background:#6f7072;}
.theme-default2 .nivo-caption{background:;}
.theme-default2 a.nivo-nextNav{ background-color:}
.theme-default2 a.nivo-prevNav{ background-color:}
nav ul.menu li a{font-family: 'Open Sans Condensed', sans, serif; font-weight:700;
font-size:18px;color:#f8f8f8;}
nav ul.menu li a:hover{color:#f8f8f8;background-color:#2D5C88}
nav ul li.current-menu-item > a,nav ul li.current-menu-parent > a,nav ul li.current_page_parent > a{color:#f8f8f8}
nav ul li.current-menu-item > a,nav ul li.current-menu-parent > a,nav ul li.current_page_parent > a,.flex-control-paging li a.flex-active,.flex-control-paging li a:hover,#magflexslider .flex-control-paging li a.flex-active,#magflexslider .flex-control-paging li a:hover  {background-color:#2D5C88}
nav ul.menu li ul li a{background:#4d4d4d;color:#f8f8f8;}
nav ul.menu li ul li a:hover{background:#6f7072;color:#f8f8f8;}
nav ul.menu li ul li{background-color:#6f7072;}
nav ul.menu li.sfHover > a,.breaking-title{background-color:#2D5C88}
nav ul.menu li.sfHover > a:hover{background-color:#2D5C88;}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li > a:hover  { border-top:#2D5C88 3px solid;}
.stripe-dots{ border-right-color:#2D5C88}
#share_post a.soc-follow.facebook { background-color:#c2c2c2}
#share_post a.soc-follow.twitter { background-color:#c2c2c2}
#share_post a.soc-follow.linkedin { background-color:#c2c2c2}
#share_post a.soc-follow.tumblr{ background-color:#c2c2c2 }
#share_post a.soc-follow.google{ background-color:#c2c2c2 }
a.soc-follow.dribbble { background-color:#2D5C88 }
a.soc-follow.facebook { background-color:#2D5C88}
a.soc-follow.twitter { background-color:#2D5C88}
a.soc-follow.flickr { background-color:#2D5C88 }
a.soc-follow.linkedin { background-color:#2D5C88}
a.soc-follow.vimeo{ background-color:#2D5C88 }
a.soc-follow.google{ background-color:#2D5C88 }
a.soc-follow.ember{ background-color:#2D5C88 }
a.soc-follow.evernote{ background-color:#2D5C88 }
a.soc-follow.forrst{ background-color:#2D5C88 }
a.soc-follow.github{ background-color:#2D5C88 }
a.soc-follow.last-fm{ background-color:#2D5C88 }
a.soc-follow.paypal{ background-color:#2D5C88 }
a.soc-follow.rss{ background-color:#2D5C88 }
a.soc-follow.sharethis{ background-color:#2D5C88 }
a.soc-follow.skype{ background-color:#2D5C88 }
a.soc-follow.tumblr{ background-color:#2D5C88 }
a.soc-follow.wordpress{ background-color:#2D5C88 }
a.soc-follow.yahoo{ background-color:#2D5C88 }
a.soc-follow.youtube{ background-color:#2D5C88 }
a.soc-follow.zerply{ background-color:#2D5C88 }
a.soc-follow.aim{ background-color:#2D5C88 }
a.soc-follow.behance{ background-color:#2D5C88 }
a.soc-follow.digg{ background-color:#2D5C88 }
#top a.soc-follow.dribbble { background-color:#2D5C88 }
#top a.soc-follow.facebook { background-color:#2D5C88}
#top a.soc-follow.twitter { background-color:#2D5C88}
#top a.soc-follow.flickr { background-color:#2D5C88 }
#top a.soc-follow.linkedin { background-color:#2D5C88 }
#top a.soc-follow.vimeo{ background-color:#2D5C88 }
#top a.soc-follow.google{ background-color:#2D5C88}
#top a.soc-follow.ember{ background-color:#2D5C88 }
#top a.soc-follow.evernote{ background-color:#2D5C88 }
#top a.soc-follow.forrst{ background-color:#2D5C88 }
#top a.soc-follow.github{ background-color:#2D5C88}
#top a.soc-follow.last-fm{ background-color:#2D5C88 }
#top a.soc-follow.paypal{ background-color:#2D5C88 }
#top a.soc-follow.rss{ background-color:#2D5C88 }
#top a.soc-follow.sharethis{ background-color:#2D5C88 }
#top a.soc-follow.skype{ background-color:#2D5C88 }
#top a.soc-follow.tumblr{ background-color:#2D5C88 }
#top a.soc-follow.wordpress{ background-color:#2D5C88 }
#top a.soc-follow.yahoo{ background-color:#2D5C88 }
#top a.soc-follow.youtube{ background-color:#2D5C88 }
#top a.soc-follow.zerply{ background-color:#2D5C88 }
#top a.soc-follow.aim{ background-color:#2D5C88 }
#top a.soc-follow.behance{ background-color:#2D5C88 }
#top a.soc-follow.digg{ background-color:#2D5C88 }
.blog-meta .post-format span{background-color:#2D5C88;}
.post-format span,.post-format-s span{background-color:#2D5C88;}