{% extends "@Root/block.html.twig" %} 

{% block mainContent %} 	  	
    {% if displayBlock %}
        <ul class="breadcrumb">
    		{% for page in rootline %} 
        		<li>
                    <a title="{{ page.text }}" href="{{url({'pageId':page.id},true)}}"> {{ page.text }} </a> <span class="divider">/</span>
        		</li>
    		{% endfor %}
            <li class="active">{{ text }}</li>
        </ul>
    {% endif %}
{% endblock %}
