{% extends "@Root/block.html.twig" %}
{% block mainContent %}
    <h2>Checkout</h2>
    <div class="progress checkout-progress">
        <div class="bar" style="width: 17%"></div>
    </div>
    <div class="accordion" id="accordioncheckout1">
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <h5>Step 1 : Checkout Options</h5>
                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncheckout1" href="checkoutstep1">#}
                {#</a>#}
            </div>
            <div id="checkoutstep1" class="accordion-body collapse in checkout-holder">
                <div class="accordion-inner checkout-inner">
                    {{ include('blocks/checkout/step1.html.twig') }}
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <h5>Step 2 : Account & Billing Details</h5>
                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncheckout1" href="checkoutstep2">#}
                {#</a>#}
            </div>
            <div id="checkoutstep2" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    Interior area
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <h5>Step 3 : Delivery Details</h5>
                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncheckout1" href="checkoutstep3">#}
                {#</a>#}
            </div>
            <div id="checkoutstep3" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    Interior area
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <h5>Step 4 : Delivery Method</h5>
                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncheckout1" href="checkoutstep4">#}
                {#</a>#}
            </div>
            <div id="checkoutstep4" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    Interior area
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <h5>Step 5 : Payment Method</h5>
                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncheckout1" href="checkoutstep5">#}
                {#</a>#}
            </div>
            <div id="checkoutstep5" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    Interior area
                </div>
            </div>
        </div>
        <div class="accordion-group checkout-group">
            <div class="accordion-heading checkout-heading">
                <h5>Step 6 : Confirm Order</h5>
                {#<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncheckout1" href="checkoutstep6">#}
                {#</a>#}
            </div>
            <div id="checkoutstep6" class="accordion-body collapse checkout-holder">
                <div class="accordion-inner checkout-inner">
                    Interior area
                </div>
            </div>
        </div>
    </div>
{% endblock %}