{% extends "@Root/block.html.twig" %}

{% block mainContent %}
{% if imageFile  %}
    {% if imageLink or externalURL %}
    <a href="{% if imageLink %}{{ url({'pageId':imageLink},true) }}{% else %}{{externalURL}}{% endif %}" 
    {% if not imageLink %}target="_blank"{% endif %}>
    {% endif %}
        <img src="{{ imageUrl(imageFile,imageWidth,imageHeight,mode) }}" alt="{{ imageAlt }}" />
    {% if imageLink or externalURL  %}</a>{% endif %}
{% endif %}
{% endblock %}