{% extends "@Root/block.html.twig" %} {% block mainContent %}
<div class="block newsletter">
	<form method="post" class="form-horizontal" id="mailingListForm">
		<div class="control-group">
			<label class="control-label">{{ "Label.Email" | fotrans }} *</label>
			<div class="controls">
				<input type="email" name="email" id="mailingListEmail" required>
			</div>
		</div>
		
		
    		<div class="control-group">
                <label class="control-label" >Nom *</label>
                <div class="controls">
                  <input type="text" name="name" id="mailingListName" required>
                </div>
            </div>
    	<div id="malingListFields">
    		
    		{% for field in fields %}
                
                    {% if field['cType']=='Ext.form.field.Text' %}
                        {% include '@Root/blocks/inputFields/text.html.twig' %}
                    {% elseif field['cType']=='Ext.form.field.TextArea' %}
                        {% include '@Root/blocks/inputFields/textarea.html.twig' %}
                    {% endif %}
                
            {% endfor %}
        
        </div>
		
		<div class="control-group">
		<label class="control-label">Listes de diffusion *</label>
			<div class="controls">
			{% for mailinglist in mailingListArray %}
    			<label class="checkbox">
                    <input type="checkbox" class="mailingListCheck" name="{{ mailinglist.value }}" >
                    {{ mailinglist.label }}
                </label>
		    {% endfor %}
			</div>
		</div>
		<div class="form-actions">
            <input class="btn btn-primary" type="button" value="{{ "Label.Subscribe" | fotrans }}" onclick="addEmail();"/>
        </div>
		
	</form>

	<div class="alert hidden" id="mailingListAlert">
		<span id="mailinglist-message"></span>
	</div>
</div>
{% endblock %}
