{% extends "/block.html.twig" %}
{% block mainContent %}
    <div id="shoppingcart">
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand">{{ 'Label.ShoppingCart'|fotrans }} <span class="badge spcnboitems">{{ totalItems }}</span></a>
            </div>
        </div>
        <div class="shoppingcartholder details">
            {% include '/blocks/shoppingCart/productList.html.twig' %}
        </div>
        <div class="text-right hidden-if-empty {% if cartItems is empty %}hidden{% endif %}">
            {% if checkoutPage %}<a href="{{ checkoutPageUrl }}"><button class="btn scartbtn">{{ 'Label.Checkout'|fotrans }}</button></a>{% endif %}
        </div>
    </div>

{% endblock %}