{% extends "@Root/block.html.twig" %}
{% block mainContent %}
    <div class="btn-group" id="shoppingcart">
        <button class="btn dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-shopping-cart"></i> Shopping Cart <span class="badge" id="spcnboitems">{{ totalItems }}</span> <span class="caret"></span></button>
        <div class="dropdown-menu shoppingcartmenu">
            <div id="shoppingcartholder">
                    {% include '/blocks/shoppingCart/productList.html.twig' %}
            </div>
            <div>
                <button class="btn pull-right scartbtn">Checkout</button>
                {% if cartDetailPage %}<a href="{{ cartDetailPageUrl }}"><button class="btn pull-right scartbtn">View cart</button></a>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}