{% extends "@Root/block.html.twig" %}
{% block mainContent %}
    <div class="btn-group" id="shoppingcart">
        <button class="btn"><i class="icon-shopping-cart"></i> Shopping Cart <span class="badge" id="spcnboitems">{{ totalItems }}</span></button>
        <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu shoppingcartmenu">
            <div id="shoppingcartholder">
                    {% include '/blocks/shoppingCart/productList.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}