{% extends "@Root/block.html.twig" %} 

{% block mainContent %}
    <div class="row-fluid">
        <div class="span12">
            {% if user.photo %}
                <img src="{{ userAvatar(user.id) }}"  alt="{{user.name}} photo" style="width:140px; margin-right:20px;" class="img-polaroid pull-left">
            {% endif %}
            <h2>{{ user.name }}</h2>
            <p>Email : {{ user.email }}</p>
        </div>
     </div>
{% endblock %}