<h1>Bonjour,</h1>

<p>
Suite à votre demande, nous avons le plaisir de vous adresser votre lien de téléchargement. Celui-ci sera actif 48 h.
<a href="{{ downloadUrl|raw }}">{{ downloadUrl|raw }}</a>
</p>
<p>
Cordialement
</p>

<p>{{ signature }}</p>


